{% extends "../../views/partials/layout.njk" %}
{% from "components/card.njk" import card %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set title = "What is the contacts name" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
<div class="govuk-grid-row govuk-!-static-margin-bottom-5">
  <div class="govuk-grid-column-full">
      {{ govukBreadcrumbs({
      items: [
          {
            text: "Digital Prison Services",
            href: DPS_HOME_PAGE_URL
          }
      ]
      }) }}
  </div>
</div>
<span class="govuk-caption-l">Manage Contacts</span>
<h1 class="govuk-heading-l">{{ title }}</h1>
 <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukInput({
                    id: "firstName",
                    name: "firstName",
                    label: { text: "First name" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('firstName'),
                    value: formResponses.firstName or session.journey.bookAVideoLink.prisoner.firstName
                }) }}

                {{ govukInput({
                    id: "lastName",
                    name: "lastName",
                    label: { text: "Last name" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('lastName'),
                    value: formResponses.lastName or session.journey.bookAVideoLink.prisoner.lastName
                }) }}

                {{ govukSelect({
                    id: "title",
                    name: "title",
                    label: {
                        text: "Title"
                    },
                    items: [
                        { "value": "choose", "text": "" , selected: true},
                        { "value": "DAME", "text": "Dame" },
                        { "value": "FR", "text": "Father" },
                        { "value": "LORD", "text": "Lord" },
                        { "value": "MS", "text": "Ms" },
                        { "value": "RABBI", "text": "Rabbi" },
                        { "value": "REV", "text": "Reverend" },
                        { "value": "SIR", "text": "Sir" },
                        { "value": "SR", "text": "Sister" },
                        { "value": "MR", "text": "Mr" },
                        { "value": "BR", "text": "Brother" },
                        { "value": "DR", "text": "Dr" },
                        { "value": "LADY", "text": "Lady" },
                        { "value": "MISS", "text": "Miss" },
                        { "value": "MRS", "text": "Mrs" },
                        { "value": "IMAM", "text": "Imam" }
                    ]
                    }) }}

                {{ govukButton({
                    html: "Continue",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6'
                }) }}

            </form>
            
            <a href="/" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Cancel</a>
        </div>
    </div>

{% endblock %}
{% block pageScripts %}
    <script src="/js/card.js"></script>
{% endblock %}
