{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "partials/layout.njk" %}§

{% if isNewContact %}
  {% set pageTitle = "Are you sure you want to delete an employer? - Add a contact - DPS" %}
  {% set caption = journey | captionForAddContactJourney %}
{% else %}
  {% set pageTitle = "Are you sure you want to delete an employer? - Edit professional information - DPS" %}
  {% set caption = "Edit professional information" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-static-margin-bottom-7">
        <span class="govuk-caption-l">{{ caption }}</span>
        <h1 class="govuk-heading-l">Are you sure you want to delete this employer from {{ contactNames | formatNameFirstNameFirst(possessiveSuffix = true) }} contact record?</h1>
      </div>
      {{ govukSummaryList({
        card: {
          title: {
            text: ("Active employer: " if employment.isActive else "Past employer: ") + employment.employer.organisationName
          }
        },
        rows: [
          {
            key: {
            text: "Employer name"
          },
            value: {
            text: employment.employer.organisationName
          }
          },
          {
            key: {
            text: "Employer’s primary address"
          },
            value: {
            html: (employment.employer | addressToLines or 'Not provided') | escape | nl2br
          }
          },
          {
            key: {
            text: "Business phone number at primary address"
          },
            value: {
            text: employment.employer | formatBusinessPhoneNumber or "Not provided"
          }
          },
          {
            key: {
            text: "Employment status"
          },
            value: {
            text: "Active" if employment.isActive else "Inactive"
          }
          }
        ]
      }) }}
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Yes, delete",
            classes: 'govuk-button--warning',
            preventDoubleClick: true
          }) }}
          {{ govukButton({
            text: "No, do not delete",
            classes: 'govuk-button--secondary',
            preventDoubleClick: true,
            href: navigation.backLink
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
