{% extends "partials/layout.njk" %}

{% set pageTitle = "How to manage a prisoner’s contacts - Contacts - DPS" %}
{% set title =  'How to manage a prisoner’s contacts' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ caption }}</span>
        <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>

      <h2 class="govuk-heading-m" data-qa="sub-heading-1">To manage a prisoner's contacts</h2>
      <ol class="govuk-list govuk-list--number">
        <li>Search for the prisoner using the <a href="#" class="govuk-link">main DPS prisoner search</a>.</li>
        <li>Find the prisoner and view their profile page.</li>
        <li>Select 'Social and official contacts' from the 'External Contacts' section on their profile page.</li>
        <li>Select a contact to view their detailed record, or choose 'Link another contact' to add a new contact to the prisoner's list.</li>
      </ol>

      <h2 class="govuk-heading-m govuk-!-margin-top-6" data-qa="sub-heading-2">Roles you need to manage a prisoner’s contacts</h2>
      <p class="govuk-body">To manage a prisoner's contacts in DPS, you require a specialist role depending on the actions you need to do.</p>
      <p class="govuk-body">The two roles are:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li><strong>Contacts Administrator:</strong> Staff who add or link new contacts to prisoners and edit personal information, but do not approve visits or change restrictions</li>
        <li><strong>Contacts Authoriser:</strong> Staff who carry out the above and also approve visits and/or add restrictions.</li>
      </ul>
    </div>
  </div>
{% endblock %}
