{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro alertsReviewTable(opts) %}
  {% set alerts = opts.alerts %}
  {% set alertClass = opts.restrictionClass %}
  {% set prisonerDetails = opts.prisonerDetails %}
  {% set prisonerNumber = prisonerDetails.prisonerNumber %}
  {% set rows = [] %}

  {% for alert in alerts | sortAlerts %}
    {% set alertId = alert.alertUuid %}
    {% set alertTypeDescription = alert.alertCode.description %}
    {% set comments = alert.description or 'Not provided' %}
    {% set startDate = alert.activeFrom %}
    {% set expiryDate = alert.activeTo %}
    {% set enteredByDisplayName = alert.lastModifiedByDisplayName if alert.lastModifiedByDisplayName else alert.createdByDisplayName %}
    {% set alertTypeHtml %}
      {{ alertTypeDescription }}
      {{ ' (inactive)' if (expiryDate | isDateAndInThePast) }}
    {% endset %}

    {% set rows = (rows.push([
      { html: alertTypeHtml, attributes: {"data-qa": alertClass + "-"  + alertId + "-type-value"} },
      { text: comments, attributes: {"data-qa": alertClass + "-"  + alertId + "-comments-value"} , classes: "long-text-column"},
      { text: startDate | formatDate('d/M/yyyy'), attributes: {"data-qa": alertClass + "-"  + alertId + "-start-date-value"} },
      { text: expiryDate | formatDate('d/M/yyyy') if expiryDate else 'Not provided', attributes: {"data-qa": alertClass + "-"  + alertId + "-expiry-date-value"} },
      { text: enteredByDisplayName, attributes: {"data-qa": alertClass + "-"  + alertId + "-entered-by-value"} }
    ]), rows) %}
  {% endfor %}

  {% set caption = 'Alerts apply to ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true))  + ' across the whole prison estate.' %}
  {% set emptyCaption = 'No prisoner alerts apply to ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true))  + ' across the whole prison estate.' %}

  {% if alerts.length %}
    {{ govukTable({
      firstCellIsHeader: false,
      captionClasses: 'govuk-table__caption--s govuk-!-font-weight-regular govuk-!-margin-bottom-6 alerts-caption-' + alertClass,
      caption: caption,
      head: [
        {
          text: "Alert",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Comments",
          classes: "govuk-!-width-one-third long-text-column"
        },
        {
          text: "Start date"
        },
        {
          text: "End date"
        },
        {
          text: "Last updated by"
        }
      ],
      rows: rows
    }) }}
  {% else %}
    <p class="govuk-body alerts-caption-{{ alertClass }}" >{{ emptyCaption }}</p>
  {% endif %}
{% endmacro %}

