{% extends "govuk/template.njk" %}`
{% from "partials/miniProfile/macro.njk" import miniProfile %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
  {% block meta %}{% endblock %}
{% endblock %}

{% block beforeContent %}
  {% include 'partials/navigation.njk' %}
  {% include 'partials/formErrorSummary.njk' %}
  {% if prisonerDetails %}
    {{ miniProfile(prisonerDetails) }}
  {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
    {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  {% if sentry and sentry.loaderScriptId %}
    <script nonce="{{ cspNonce }}">
      window.sentryOnLoad = function() {
        Sentry.init({
          release: "hmpps-alerts-ui@{{ version }}",
          environment: "{{ sentry.environment }}",
          tracesSampleRate: {{ sentry.tracesSampleRate }},
          replaysSessionSampleRate: {{ sentry.replaySampleRate }},
          replaysOnErrorSampleRate: {{ sentry.replayOnErrorSampleRate }},
          initialScope: {
            user: { username: "{{ user.username }}" },
          },
        });
      };
    </script>
    <script src="https://js.sentry-cdn.com/{{ sentry.loaderScriptId }}.min.js" nonce="{{ cspNonce }}" crossorigin="anonymous"></script>
  {% endif %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
