{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "partials/simplePagination/macro.njk" import simplePagination %}

{% macro linkedPrisonersTable(opts) %}

  {% set linkedPrisoners = opts.linkedPrisoners %}
  {% set paginationParams = opts.paginationParams %}

  {% set rows = [] %}
  {% for linkedPrisoner in linkedPrisoners %}
    {% set prisonerNameAndNumberHtml %}
      {{ linkedPrisoner | formatNameLastNameFirst }}<br />
      <span class="govuk-hint">{{ linkedPrisoner.prisonerNumber }}</span>
    {% endset %}
    {% set classes = 'light-grey' if not linkedPrisoner.isRelationshipActive else '' %}
    {% set rows = (rows.push([
      { html: prisonerNameAndNumberHtml, classes: classes },
      { text: linkedPrisoner.prisonName, classes: classes },
      { text: linkedPrisoner.relationshipTypeDescription, classes: classes },
      { text: linkedPrisoner.relationshipToPrisonerDescription, classes: classes },
      { text: 'Active' if linkedPrisoner.isRelationshipActive else 'Inactive', classes: classes }
    ]), rows) %}
  {% endfor %}

  {% if linkedPrisoners.length %}
    {{ simplePagination(paginationParams) }}
  {% endif %}

  {{ govukTable({
    firstCellIsHeader: false,
    classes: 'govuk-!-margin-top-6 linked-prisoners-table',
    head: [
      {
        text: "Name and prison number"
      },
      {
        text: "Establishment"
      },
      {
        text: "Relationship type"
      },
      {
        text: "Contact’s relationship to the prisoner"
      },
      {
        text: "Relationship status"
      }
    ],
    rows: rows
  }) }}

  {% if linkedPrisoners.length %}
    {{ simplePagination(paginationParams) }}
  {% endif %}
{% endmacro %}
