{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro linkedPrisonerCard(linkedPrisoner) %}
    {% set relationshipHtml = '<ul>' %}
    {% for relationship in linkedPrisoner.relationships %}
        {% set   relationshipHtml = relationshipHtml + '<li>' + relationship.relationshipTypeDescription + ' - ' + relationship.relationshipToPrisonerDescription + '</li>' %}
    {% endfor %}
    {% set relationshipHtml = relationshipHtml + '</ul>' %}
    {{ govukSummaryList({
        card: {
            title: {
                text: linkedPrisoner | formatNameLastNameFirst,
                classes: 'linked-prisoner-'  + linkedPrisoner.prisonerNumber + '-card-title'
            }
        },
        rows: [
            {
                key: {
                    text: "NOMS"
                },
                value: {
                    html: linkedPrisoner.prisonerNumber,
                    classes: 'linked-prisoner-'  + linkedPrisoner.prisonerNumber + '-noms-value'
                }
            },
            {
                key: {
                    text: "Contact’s relationship to prisoner"
                },
                value: {
                    html: relationshipHtml,
                    classes: 'linked-prisoner-'  + linkedPrisoner.prisonerNumber + '-relationship-value'
                }
            }
        ]
    }) }}
{% endmacro %}