{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% if navigation.breadcrumbs %}
    <div data-qa="breadcrumbs">
      {% set breadcrumbs = [] %}

      {% for breadcrumb in navigation.breadcrumbs %}
        {% if breadcrumb === 'DPS_HOME' %}
          {% set breadcrumbs = (breadcrumbs.push(
            {
              text: "Digital Prison Services",
              href: DPS_HOME_PAGE_URL
            }
          ), breadcrumbs) %}
        {% elseif breadcrumb === 'DPS_PROFILE' %}
          {% set breadcrumbs = (breadcrumbs.push(
            {
              text: prisonerDetails | formatNameLastNameFirst(excludeMiddleNames = true),
              href: digitalPrisonServicesUrl + "/prisoner/" + prisonerDetails.prisonerNumber
            }
          ), breadcrumbs) %}
        {% elseif breadcrumb === 'PRISONER_CONTACTS' %}
          {% set breadcrumbs = (breadcrumbs.push(
            {
              text: "Contacts",
              href: "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/list"
            }
          ), breadcrumbs) %}
        {% elseif breadcrumb === 'PRISONER_ALERTS_RESTRICTIONS' %}
            {% set breadcrumbs = (breadcrumbs.push(
              {
                text: "Alerts and restrictions",
                href: "/prisoner/" + prisonerDetails.prisonerNumber + "/alerts-restrictions"
              }
            ), breadcrumbs) %}
        {% endif %}
      {% endfor %}

      {{ govukBreadcrumbs({
        items: breadcrumbs
      }) }}
    </div>
{% endif %}
{% if navigation.backLink %}
    {{ govukBackLink({
        classes: "govuk-!-margin-bottom-1",
        text: navigation.backLinkLabel or "Back",
        href: navigation.backLink,
        attributes: {"data-qa": "back-link"}
    }) }}
{% endif %}
