{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% macro restrictionsReviewTable(opts) %}
  {% set restrictions = opts.restrictions %}
  {% set restrictionClass = opts.restrictionClass %}
  {% set prisonerDetails = opts.prisonerDetails %}
  {% set prisonerNumber = prisonerDetails.prisonerNumber %}
  {% set hideTableTitle = opts.hideTableTitle %}
  {% set hideWarning = opts.hideWarning %}
  {% set rows = [] %}

  {% for restriction in restrictions | sortRestrictions %}
    {% set restrictionId = restriction.prisonerRestrictionId %}
    {% set restrictionTypeDescription = restriction.restrictionTypeDescription %}
    {% set comments = restriction.commentText or 'Not provided' %}
    {% set startDate = restriction.effectiveDate %}
    {% set expiryDate = restriction.expiryDate %}
    {% set enteredByDisplayName = restriction.authorisedByDisplayName %}

    {% set restrictionTypeHtml %}
      {{ govukTag({ text: restrictionTypeDescription, classes: 'wide-tag ' + restriction.restrictionType | restrictionTagColour }) }}
      {{ ' (expired)' if (expiryDate | isDateAndInThePast) }}
      {{ ' (Previous booking)' if not restriction.currentTerm }}
    {% endset %}

    {% set rows = (rows.push([
      { html: restrictionTypeHtml, attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-type-value"} },
      { text: comments, attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-comments-value"}, classes: "long-text-column" },
      { text: startDate | formatDate('d/M/yyyy'), attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-start-date-value"} },
      { text: expiryDate | formatDate('d/M/yyyy') if expiryDate else 'Not provided', attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-expiry-date-value"} },
      { text: enteredByDisplayName, attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-entered-by-value"} }
    ]), rows) %}
  {% endfor %}

  {% set caption = 'These restrictions apply to ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true))  + ' across the whole prison estate.' %}
  {% set emptyCaption = 'No prisoner restrictions apply to ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true))  + ' across the whole prison estate.' %}
  {% if not hideTableTitle %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-6" data-qa="{{ restrictionClass }}-title">Global prisoner restrictions</h2>
  {% endif %}
  {% if not hideWarning %}
      {{ mojAlert({
        variant: "warning",
        title: "Managing prisoner restrictions is not available in DPS",
        showTitleAsHeading: true,
        dismissible: false,
        html: 'You still need to use NOMIS to add and update prisoner restrictions.',
        attributes: { "data-qa": "restrictions-warning" }
      }) }}
   {% endif %}
  {% if restrictions.length %}
    {{ govukTable({
      firstCellIsHeader: false,
      captionClasses: 'govuk-table__caption--s govuk-!-font-weight-regular govuk-!-margin-bottom-6 restrictions-caption-' + restrictionClass,
      caption: caption,
      head: [
        {
          text: "Restriction type",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Comments",
          classes: "govuk-!-width-one-third long-text-column"
        },
        {
          text: "Start date"
        },
        {
          text: "Expiry date"
        },
        {
          text: "Last updated by"
        }
      ],
      rows: rows
    }) }}
  {% else %}
    <p class="govuk-body restrictions-caption-{{ restrictionClass }}" >{{ emptyCaption }}</p>
  {% endif %}
{% endmacro %}
