{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro restrictionsTable(opts) %}

  {% set restrictions = opts.restrictions %}
  {% set restrictionClass = opts.restrictionClass %}
  {% set contact = opts.contact %}
  {% set prisonerDetails = opts.prisonerDetails %}
  {% set contactId = contact.id %}
  {% set prisonerContactId = opts.prisonerContactId %}
  {% set prisonerNumber = prisonerDetails.prisonerNumber %}
  {% set showActions = opts.showActions %}
  {% set hideTableTitle = opts.hideTableTitle %}
  {% set rows = [] %}
  {% for restriction in restrictions | sortRestrictions %}
    {% if restrictionClass === 'PRISONER_CONTACT' %}
      {% set visuallyHiddenText = ' this ' + restriction.restrictionTypeDescription + ' relationship restriction' %}
    {% else %}
      {% set visuallyHiddenText = ' this ' + restriction.restrictionTypeDescription + ' global restriction' %}
    {% endif %}
    {% set restrictionId = restriction.contactRestrictionId or restriction.prisonerContactRestrictionId %}
    {% set retrictionTypeHtml %}
      {{ govukTag({ text: restriction.restrictionTypeDescription, classes: 'wide-tag ' + restriction.restrictionType | restrictionTagColour }) }}{{ ' (expired)' if (restriction.expiryDate | isDateAndInThePast) }}
    {% endset %}
    {% set changeUrl = '/prisoner/' +  prisonerNumber + '/contacts/' +  contactId + '/relationship/' +  prisonerContactId + '/restriction/update/' +  restrictionClass + '/enter-restriction/' +  restrictionId %}
    {% set rows = (rows.push([
      { html: retrictionTypeHtml, attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-type-value"} },
      { html: (restriction.comments or 'Not provided') | escape | nl2br, attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-comments-value"} , classes: "long-text-column"},
      { text: restriction.startDate | formatDate('d/M/yyyy'), attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-start-date-value"} },
      { text: restriction.expiryDate | formatDate('d/M/yyyy') if restriction.expiryDate else 'Not provided', attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-expiry-date-value"} },
      { text: restriction.enteredByDisplayName or restriction.enteredByUsername, attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-entered-by-value"} },
      { html: '<a href="' + changeUrl + '" data-qa="manage-' + restrictionClass + '-restriction-link-' + restrictionId + '">Change<span class="govuk-visually-hidden">' + visuallyHiddenText + '</span></a>' } if showActions
    ]), rows) %}
  {% endfor %}

  {% if restrictionClass === 'PRISONER_CONTACT' %}
    {% set title = 'Relationship restrictions' %}
    {% set caption = 'These restrictions apply to the relationship between prisoner ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true))  + ' and contact ' + (contact | formatNameFirstNameFirst) + '.' %}
    {% set emptyCaption = 'No restrictions apply to the relationship between prisoner ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true))  + ' and contact ' + (contact | formatNameFirstNameFirst) + '.' %}
  {% else %}
    {% set title = 'Global restrictions' %}
    {% set caption = 'These restrictions apply to contact ' + (contact | formatNameFirstNameFirst) + ' across the whole prison estate.' %}
    {% set emptyCaption = 'No restrictions apply to contact ' + (contact | formatNameFirstNameFirst) + ' across the whole prison estate.' %}
  {% endif %}

  {% if not hideTableTitle %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-6" data-qa="{{ restrictionClass }}-title">{{ title }}</h2>
  {% endif %}
  {% if restrictions.length %}
  {{ govukTable({
    firstCellIsHeader: false,
    captionClasses: 'govuk-table__caption--s govuk-!-font-weight-regular govuk-!-margin-bottom-6 restrictions-caption-' + restrictionClass,
    caption: caption,
    head: [
      {
        text: "Restriction type",
        classes: "govuk-!-width-one-quarter"
      },
      {
        text: "Comments",
        classes: "govuk-!-width-one-quarter long-text-column"
      },
      {
        text: "Start date"
      },
      {
        text: "Expiry date"
      },
      {
        text: "Last updated by"
      },
      {
        text: "Action"
      } if showActions
    ],
    rows: rows
  }) }}
  {% else %}
    <p class="govuk-body restrictions-caption-{{ restrictionClass }}" >{{ emptyCaption }}</p>
  {% endif %}

{% endmacro %}
