{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro restrictionsReviewTable(opts) %}

  {% set restrictions = opts.restrictions %}
  {% set restrictionClass = opts.restrictionClass %}
  {% set prisonerDetails = opts.prisonerDetails %}
  {% set prisonerNumber = prisonerDetails.prisonerNumber %}
  {% set hideTableTitle = opts.hideTableTitle %}
  {% set itemType = opts.itemType %}
  {% set rows = [] %}
  {% for restriction in restrictions | sortRestrictions %}
    {% set restrictionId = restriction.prisonerRestrictionId or restriction.alertUuid %}
    {% set restrictionTypeDescription = restriction.restrictionTypeDescription or (restriction.alertCode and restriction.alertCode.description) %}
    {% set comments = restriction.commentText or restriction.description or 'Not provided' %}
    {% set startDate = restriction.effectiveDate or restriction.activeFrom %}
    {% set expiryDate = restriction.expiryDate or restriction.activeTo %}
    {% set enteredByDisplayName = restriction.authorisedByDisplayName or restriction.lastModifiedByDisplayName %}
    {% set retrictionTypeHtml %}
      {{ govukTag({ text: restrictionTypeDescription, classes: 'wide-tag ' + (restriction.restrictionType or (restriction.alertCode and restriction.alertCode.code)) | restrictionTagColour }) }}{{ ' (expired)' if (expiryDate | isDateAndInThePast) }}{{ ' (Previous booking)' if not restriction.currentTerm and not restriction.alertUuid }}
    {% endset %}
    {% set rows = (rows.push([
      { html: retrictionTypeHtml, attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-type-value"} },
      { html: comments | escape | nl2br, attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-comments-value"} },
      { text: startDate | formatDate('d/M/yyyy'), attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-start-date-value"} },
      { text: expiryDate | formatDate('d/M/yyyy') if expiryDate else 'Not provided', attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-expiry-date-value"} },
      { text: enteredByDisplayName, attributes: {"data-qa": restrictionClass + "-"  + restrictionId + "-entered-by-value"} }
    ]), rows) %}
  {% endfor %}

  {% set title = 'Global restrictions' %}
  {% set caption = 'These ' + (itemType or 'restrictions') + ' apply to prisoner ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true))  + ' across the whole prison estate.' %}
  {% set emptyCaption = 'No ' + (itemType or 'restrictions') + ' apply to prisoner ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true))  + ' across the whole prison estate.' %}
  {% if not hideTableTitle %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-6" data-qa="{{ restrictionClass }}-title">{{ title }}</h2>
    </div>
    <div class="govuk-!-text-align-right govuk-!-padding-right-5">
      <p>To add or update prisoner restrictions, go to NOMIS.</p>
    </div>
  </div>
  {% endif %}
  {% if restrictions.length %}
  {{ govukTable({
    firstCellIsHeader: false,
    captionClasses: 'govuk-table__caption--s govuk-!-font-weight-regular govuk-!-margin-bottom-6 restrictions-caption-' + restrictionClass,
    caption: caption,
    head: [
      {
        text: "Restriction type",
        classes: "govuk-!-width-one-quarter"
      },
      {
        text: "Comments",
        classes: "govuk-!-width-one-quarter"
      },
      {
        text: "Start date"
      },
      {
        text: "Expiry date"
      },
      {
        text: "Last updated by"
      }
    ],
    rows: rows
  }) }}
  {% else %}
    <p class="govuk-body restrictions-caption-{{ restrictionClass }}" >{{ emptyCaption }}</p>
  {% endif %}

{% endmacro %}
