{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if successNotificationBanner %}
    {% set html %}
        <h3 class="govuk-notification-banner__heading govuk-!-width-full">{{ successNotificationBanner }}</h3>
    {% endset %}

    {{ govukNotificationBanner({
        html: html,
        type: "success"
    }) }}
{% endif %}
