{% from "moj/components/alert/macro.njk" import mojAlert %}

{% if successNotificationBanner %}

  {% set title %}
    {{ successNotificationBanner }}
  {% endset %}

  {% set html %}
    {% if user.backLink and prisonerDetails %}
      <p>
        <a class="govuk-link govuk-link--no-visited-state" data-qa="saved-backlink" href="{{ user.backLink.url }}">
          Back to {{ prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true, possessiveSuffix = true) }} profile
        </a>
      </p>
    {% endif %}
  {% endset %}

  {{ mojAlert({
    variant: "success",
    title: title,
    showTitleAsHeading: true,
    dismissible: false,
    html: html
  }) }}

{% endif %}
