{#
 Parameters:
    miniProfile = a components.PrisonerDetails entity. Can be populated by prisonerDetailsMiddleware() middleware.
#}
{% macro miniProfile(prisonerDetails) %}
    {%- include "./template.njk" -%}
{% endmacro %}