{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "partials/simplePagination/macro.njk" import simplePagination %}

{% extends "partials/layout.njk" %}§

{% if isNewContact %}
  {% set pageTitle = "Search for the contact’s employer - Add a contact - DPS" %}
  {% set caption = journey | captionForAddContactJourney %}
{% else %}
  {% set pageTitle = "Search for the contact’s employer - Edit professional information - DPS" %}
  {% set caption = "Edit professional information" %}
{% endif %}

{% block content %}
  {% include 'partials/navigation.njk' %}
  {{ miniProfile(prisonerDetails) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-static-margin-bottom-7">
        <span class="govuk-caption-l">{{ caption }}</span>
        <h1 class="govuk-heading-l">Search for {{ contact | formatNameFirstNameFirst(possessiveSuffix = true) }} employer</h1>
      </div>
      <p>If you cannot find the correct employer, you’ll need to use NOMIS to add the employer organisation onto the system.</p>
      {{ govukDetails({
        summaryText: "How to add the employer organisation into NOMIS",
        html: '<ol class="govuk-list govuk-list--number"><li>Log into NOMIS.</li><li>Enter and save the organisation details using the ‘Maintain external agencies’ page. (You might need to ask your LSA for access.)</li><li>Return to this page in DPS and search again. </li><li>Find the newly added organisation in the search results and select ‘Check if this is the correct employer’. </li><li>Check the organisation information and confirm that it’s the correct employer for the contact.</li></ol>'
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="block-background govuk-!-padding-6 govuk-!-margin-bottom-7">
        <div class="moj-search govuk-!-width-two-thirds">
          <h2 class="govuk-heading-m">Search</h2>
          <form method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukInput({
              classes: "moj-search__input",
              id: "organisationName",
              name: "organisationName",
              value: organisationName,
              label: {
                text: 'Name of organisation'
              }
            }) }}

            {{ govukButton({
              classes: "moj-search__button",
              text: "Search",
              preventDoubleClick: true
            }) }}
          </form>
        </div>
      </div>

      {% if organisationName %}
        {% if organisations.length %}
          {{ simplePagination(paginationParams)  }}
        {% endif %}

        {% if organisations.length %}
          {% set organisationRows = [] %}
          {% for organisation in organisations %}
            {% set organisationRows = (organisationRows.push([
              {
                html: (organisation.organisationName | escape) + '<br/><span class="govuk-hint">' + organisation.organisationId + '</span>'
              },
              {
                html: (organisation | addressToLines or 'Not provided') | escape | nl2br
              },
              {
                text: organisation | formatBusinessPhoneNumber or "Not provided"
              },
              {
                classes: 'govuk-link govuk-link--no-visited-state',
                html: '<a href="' + baseEmploymentLink + 'check-employer/' + journeyId + '?organisationId=' + organisation.organisationId + '">Check if this is the correct employer<span class="govuk-visually-hidden"> (' + (organisation.organisationName | escape) + ')</span></a>',
                format: "numeric"
              }
            ]), organisationRows) %}
          {% endfor %}

          {{ govukTable({
            firstCellIsHeader: false,
            classes: 'table-vertical-align-middle govuk-!-margin-top-6',
            head: [
              {
                text: 'Organisation name and corporate ID',
                key: 'organisationName'
              },
              {
                text: "Primary address"
              },
              {
                text: "Business phone number"
              },
              {
                text: "Action",
                format: "numeric"
              }
            ] | convertToSortableColumns(sort or 'organisationName,asc'),
            rows: organisationRows
          }) }}
        {% else %}
          <p class="govuk-!-margin-bottom-6"><strong>No organisation records match your search.</strong></p>
        {% endif %}

        {% if organisations.length %}
          {{ simplePagination(paginationParams)  }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
