{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "partials/contactDetails/personalInformationCard.njk" import personalInformationCard %}
{% from "partials/contactDetails/relationshipToPrisonerCard.njk" import relationshipToPrisonerCard %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Contact details</h1>
      </div>
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-group moj-button-group--inline">
          <a class="govuk-link govuk-link--no-visited-state" data-qa="edit-contact-details-link" href="/prisoner/{{ prisonerNumber }}/contacts/manage/{{ contactId }}/relationship/{{ prisonerContactId }}/edit-contact-details?returnUrl={{  manageContactRelationshipUrl }}">Edit contact details</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{  personalInformationCard({ contact: contact, showActions: false }) }}

      {{  relationshipToPrisonerCard({
        contact: contact,
        relationship: prisonerContactRelationship,
        prisonerDetails: prisonerDetails,
        showActions: false
      }) }}

      {% if contact.identities and contact.identities.length > 0 %}
        {% set identityNumbers = [] %}
        {% for item in contact.identities | sort(attribute = 'identityValue') | sort(attribute = 'identityTypeDescription') %}
          {% set identityNumbers = identityNumbers.concat([{
            key: {
              text: (item.identityTypeDescription)
            },
            value: {
              html: item.identityValue + ('<p>Issued by ' + item.issuingAuthority + '</p>' if item.issuingAuthority else '')
            }
          }]) %}
        {% endfor %}
        {{ govukSummaryList({
          card: {
            title: {
              text: "Identity documentation"
            }
          },
          rows: identityNumbers
        }) }}
      {% else %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Identity documentation</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">No identity documents provided.</dd>
              </div>
            </dl>
          </div>
        </div>
      {% endif %}

      {{ govukSummaryList({
        card: {
          title: {
            text: 'Additional information'
          }
        },
        rows: [
          {
            key: {
              text: 'Contact’s first language'
            },
            value: {
              text: contact.languageDescription if contact.languageDescription else 'Not provided'
            }
          },
          {
            key: {
              text: 'Interpreter required'
            },
            value: {
              text: contact.interpreterRequired | formatYesNo
            }
          },
          {
            key: {
              text: 'Contact’s domestic status'
            },
            value: {
              text: contact.domesticStatusDescription if contact.domesticStatusDescription else 'Not provided'
            }
          }
        ]
      }) }}
    </div>
</div>
