{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "partials/contactDetails/personalInformationCard.njk" import personalInformationCard %}
{% from "partials/contactDetails/relationshipToPrisonerCard.njk" import relationshipToPrisonerCard %}
{% from "partials/contactDetails/identityDocumentationCard.njk" import identityDocumentationCard %}
{% from "partials/contactDetails/additionalInformationCard.njk" import additionalInformationCard %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Contact details</h1>
      </div>
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-group moj-button-group--inline">
          <a class="govuk-link govuk-link--no-visited-state" data-qa="edit-contact-details-link" href="/prisoner/{{ prisonerNumber }}/contacts/manage/{{ contactId }}/relationship/{{ prisonerContactId }}/edit-contact-details">Edit contact details</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ mojAlert({
        variant: "warning",
        title: "Contact images are not yet available in DPS",
        showTitleAsHeading: true,
        dismissible: false,
        html: 'You still need to use NOMIS to view and manage contact images.',
        attributes: { "data-qa": "image-warning" }
      }) }}

      {{  personalInformationCard({
        prisonerNumber: prisonerNumber,
        relationship: prisonerContactRelationship,
        contact: contact,
        prisonerContactId: prisonerContactId,
        showActions: false,
        showRecordDateOfDeath: true
      }) }}

      {{  relationshipToPrisonerCard({
        contact: contact,
        relationship: prisonerContactRelationship,
        prisonerDetails: prisonerDetails,
        user: user,
        showActions: false
      }) }}

      {{  identityDocumentationCard({ contact: contact, showActions: false }) }}

      {{  additionalInformationCard({ contact: contact, showActions: false }) }}

    </div>
</div>
