{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Domestic details"
        }
    },
    rows: [{
        key: {
            text: "Domestic status"
        },
        value: {
            text: contact.domesticStatusDescription or 'Not provided',
            classes: 'manage-domestic-status-value'
        },
        actions: {
            items: [
                {
                    href: "/prisoner/"+ prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/domestic-status?returnUrl=" + manageContactRelationshipUrl,
                    text: "Change",
                    visuallyHiddenText: "domestic status",
                    attributes: {"data-qa": "select-domestic-status"},
                    classes: 'govuk-link--no-visited-state'
                }
            ]
        }
    }]
}) }}
