{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "partials/contactMethods/phoneNumbersCard.njk" import phoneNumbersCard %}
{% from "partials/contactMethods/emailAddressesCard.njk" import emailAddressesCard %}
{% from "partials/contactMethods/contactAddressCard.njk" import contactAddressCard %}

{% extends "partials/layout.njk" %}§

{% set pageTitle = "Edit contact details for contact - Contacts - DPS" %}

{% block content %}
  {% include 'partials/navigation.njk' %}
  {% include 'partials/successNotificationBanner.njk' %}
  {{ miniProfile(prisonerDetails) }}
  <div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-static-margin-bottom-7">
        <span class="govuk-caption-l">Manage contacts</span>
        <h1 class="govuk-heading-l">Edit contact methods for {{ contact | formatNameFirstNameFirst }}</h1>
      </div>
      {% set returnUrl = '/prisoner/' + prisonerNumber + '/contacts/manage/' + contactId + '/relationship/' + prisonerContactId + '/edit-contact-methods?returnUrl=' + returnPoint.url %}
      {% if returnPoint.anchor %}
        {% set returnUrl = returnUrl + '&returnAnchor=' + returnPoint.anchor %}
      {% endif %}
      {% set returnUrl = returnUrl | urlencode %}

      {{ phoneNumbersCard({
          contact: contact,
          prisonerNumber: prisonerNumber,
          returnUrl: returnUrl,
          showActions: true
        })
      }}

      {{ emailAddressesCard({
          contact: contact,
          prisonerNumber: prisonerNumber,
          returnUrl: returnUrl,
          showActions: true
        })
      }}

      <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
          <h2 class="govuk-heading-l govuk-!-font-size-24">Addresses</h2>
        </div>
        <div class="moj-page-header-actions__actions">
          <div class="moj-button-group moj-button-group--inline">
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" data-qa="add-address-link" href="/prisoner/{{ prisonerNumber }}/contacts/manage/{{ contactId }}/address/add/start?returnUrl={{  returnUrl }}">Add address</a>
          </div>
        </div>
      </div>
      {% if contact.addresses and contact.addresses.length > 0 %}
        {% set hasInactive = false %}
        {% set inactiveHtml = '' %}
        {% for item in contact.addresses | sortContactAddresses %}
          {% set summaryCard = contactAddressCard({
              address: item,
              prisonerNumber: prisonerNumber,
              contactId: contact.id,
              returnUrl: returnUrl,
              showActions: true
            })
          %}
          {% if (item.endDate | isDateAndInThePast) %}
            {% set inactiveHtml = inactiveHtml + summaryCard %}
            {% set hasInactive = true %}
          {% else %}
            {{ summaryCard }}
          {% endif %}
        {% endfor %}
        {% if hasInactive %}
          {{ govukDetails({
            summaryText: "View previous addresses",
            html: inactiveHtml
          }) }}
        {% endif %}
      {% else %}
        <p>No addresses provided.</p>
      {% endif %}
      <div class="govuk-button-group">
        {% if navigation.cancelButton %}
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
