{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "partials/contactDetails/personalInformationCard.njk" import personalInformationCard %}
{% from "partials/contactDetails/relationshipToPrisonerCard.njk" import relationshipToPrisonerCard %}
{% from "partials/contactDetails/identityDocumentationCard.njk" import identityDocumentationCard %}
{% from "partials/contactDetails/additionalInformationCard.njk" import additionalInformationCard %}

{% extends "partials/layout.njk" %}§

{% set pageTitle = "Edit contact details for contact - Contacts - DPS" %}

{% block content %}
  {% include 'partials/navigation.njk' %}
  {{ miniProfile(prisonerDetails) }}
  <div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-static-margin-bottom-7">
        <span class="govuk-caption-l">Manage contacts</span>
        <h1 class="govuk-heading-l">Edit contact details for {{ contact | formatNameFirstNameFirst }}</h1>
      </div>
      {% set returnUrl = '/prisoner/' + prisonerNumber + '/contacts/manage/' + contactId + '/relationship/' + prisonerContactId + '/edit-contact-details' %}

      {{ personalInformationCard({
          contact: contact,
          prisonerNumber: prisonerNumber,
          prisonerContactId: prisonerContactRelationship.prisonerContactId,
          returnUrl: returnUrl,
          showActions: true
        })
      }}

      {{ relationshipToPrisonerCard({
          contact: contact,
          relationship: prisonerContactRelationship,
          prisonerDetails: prisonerDetails,
          returnUrl: returnUrl,
          showActions: true
        })
      }}

      {{ identityDocumentationCard({
          contact: contact,
          prisonerNumber: prisonerNumber,
          returnUrl: returnUrl,
          showActions: true
        })
      }}

      {{ additionalInformationCard({
          contact: contact,
          prisonerNumber: prisonerNumber,
          returnUrl: returnUrl,
          showActions: true
        })
      }}

      <div class="govuk-button-group">
        {% if navigation.cancelButton %}
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
