{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block content %}
{% include 'partials/navigation.njk' %}
{{ miniProfile(prisonerDetails) }}
{% include 'partials/successNotificationBanner.njk' %}
<div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Contacts</span>
          <h1 class="govuk-heading-l">Contact details - {{ contact | formatNameFirstNameFirst }}</h1>
        </div>
      </div>
             <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                      <a class="govuk-tabs__tab" href="#contact-details">
                          Contact details
                      </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                      <a class="govuk-tabs__tab" href="#contact-methods">
                          Contact methods
                      </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#professional-information">
                      Professional information
                    </a>
                  </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab restrictions-tab-title" href="#restrictions">
                            Restrictions ({{ globalRestrictions.length + prisonerContactRestrictions.length }})
                        </a>
                    </li>
                </ul>
               <div class="govuk-tabs__panel govuk-!-static-padding-top-7" id="contact-details">
                  {%- include "./contactDetailsTab.njk" -%}
               </div>
               <div class="govuk-tabs__panel govuk-!-static-padding-top-7" id="contact-methods">
                  {%- include "./contactMethodsTab.njk" -%}
               </div>
               <div class="govuk-tabs__panel govuk-!-static-padding-top-7" id="professional-information">
                  {%- include "./professionalInformationTab.njk" -%}
               </div>
                <div class="govuk-tabs__panel govuk-!-static-padding-top-7 govuk-tabs__panel--hidden" data-qa="restrictions-result-message" id="restrictions">
                  {%- include "./restrictionsTab.njk" -%}
                </div>
             </div>
    </div>
</div>
{% endblock %}
