{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set phoneNumbers = [] %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Approval to visit prisoner?"
        },
        classes: 'approved-visitor-cards-title'
    },
    rows: [{
        key: {
            text: "Approval to visit prisoner?"
        },
        value: {
            text:  'Yes' if prisonerContactRelationship.isApprovedVisitor else 'No',
            classes: 'manage-approved-to-visit-status'
        },
        actions: {
            items: [
                {
                    href: "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/relationship/" + prisonerContactId + "/approved-to-visit?returnUrl=" + manageContactRelationshipUrl,
                    text: "Change",
                    visuallyHiddenText: "approved to visit",
                    attributes: {"data-qa": "manage-approved-to-visit-status-link"},
                    classes: 'govuk-link--no-visited-state'
                }
            ]
        }
    }]
}) }}
