{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/restrictionsTable.njk" import restrictionsTable %}

<div class="moj-page-header-actions">
  <div class="moj-page-header-actions__title">
    <h1 class="govuk-heading-l" data-qa="manage-contact-restrictions-title">Restrictions</h1>
  </div>
  <div class="moj-page-header-actions__actions">
    <div class="moj-button-group moj-button-group--inline">
       {% if user | hasPermission('MANAGE_RESTRICTIONS') %}
         {% if prisonerContactRestrictions.length or contactGlobalRestrictions.length %}
            {% set editLinkText = 'Add or update restrictions' %}
          {% else %}
            {% set editLinkText = 'Add restrictions' %}
          {% endif %}
         <a class="govuk-link govuk-link--no-visited-state" data-qa="edit-restrictions-link" href="{{ "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/manage/" + contactId + "/relationship/" + prisonerContactId + "/edit-restrictions" }}">{{ editLinkText }}</a>
       {% endif %}
    </div>
  </div>
</div>
<div class="govuk-!-padding-bottom-6">
  {{ restrictionsTable( {
    restrictionClass: 'PRISONER_CONTACT',
    restrictions: prisonerContactRestrictions,
    contact: contact,
    prisonerDetails: prisonerDetails,
    showActions: false
  } ) }}
</div>

<div>
  {{ restrictionsTable( {
    restrictionClass: 'CONTACT_GLOBAL',
    restrictions: contactGlobalRestrictions,
    contact: contact,
    prisonerDetails: prisonerDetails,
    showActions: false
  } ) }}
</div>
