{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/restrictionsReviewTable.njk" import restrictionsReviewTable %}
{% from "partials/alertsReviewTable.njk" import alertsReviewTable %}

{% set mainClasses = "app-container govuk-body" %}

{% set pageTitle = "Review prisoner restrictions and alerts - Manage contacts - DPS" %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-summary-card">
    <div class="govuk-!-margin-left-6 govuk-!-margin-top-6 govuk-!-margin-right-6">
      <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
            <h1 class="govuk-heading-l" data-qa="prisoner-restrictions-heading">{{ prisonerDetails | formatNameFirstNameFirst(possessiveSuffix = true, excludeMiddleNames = true) }} prisoner restrictions</h1>
        </div>
        <div class="govuk-!-text-align-right govuk-!-padding-right-1">
          <p>To add or update prisoner restrictions, go to NOMIS.</p>
        </div>
      </div>


      <div class="summary-card-wider-key-column">
        {{ restrictionsReviewTable({
        restrictionClass: 'prisoner-restrictions',
        restrictions: prisonerRestrictions,
        prisonerDetails: prisonerDetails,
        hideTableTitle: true,
        hideWarning: true
        }) }}
      </div>
    </div>
  </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-summary-card">
      <div class="govuk-!-margin-left-6 govuk-!-margin-top-6 govuk-!-margin-right-6">
        <div class="moj-page-header-actions">
          <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-l" data-qa="prisoner-alerts-heading">{{ prisonerDetails  | formatNameFirstNameFirst(possessiveSuffix = true, excludeMiddleNames = true) }} alerts</h1>
          </div>

          <div class="moj-page-header-actions__actions summary-card-header-link">
          <div class="moj-button-group--inline">
          <a href="{{ prisonerProfileUrl }}/prisoner/{{ prisonerDetails.prisonerNumber }}/alerts/active" class="govuk-link govuk-!-margin-top-3 govuk-link--no-visited-state" data-qa="add-update-alerts-link">Add or update alerts</a>
          </div>
          </div>
        </div>

        <div class="summary-card-wider-key-column">
          {{ alertsReviewTable({
          restrictionClass: 'prisoner-alerts',
          alerts: alertForPrisoner,
          prisonerDetails: prisonerDetails,
          hideTableTitle: true
          }) }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
