{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = 'Are you sure you want to delete an identity document for the contact? - Add a contact - DPS' if isNewContact else 'Are you sure you want to delete an identity document for the contact? - Edit contact details - DPS' %}
{% set title = "Are you sure you want to delete this identity document for " + (contact | formatNameFirstNameFirst) + "?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ caption }}</span>
    <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                                text: "Document type"
                            },
                            value: {
                                html: identityDocument.identityTypeDescription,
                                classes: 'type-value'
                            }
                        },
                        {
                            key: {
                              text: "Document number"
                            },
                              value: {
                                html: identityDocument.identityValue,
                                classes: 'identity-number-value'
                              }
                        },
                        {
                            key: {
                                text: "Issuing authority"
                            },
                            value: {
                                html: identityDocument.issuingAuthority or 'Not provided',
                                classes: 'issuing-authority-value'
                            }
                        }
                    ]
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Yes, delete",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6 govuk-button--warning',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                    {{ govukButton({
                        text: "No, do not delete",
                        type: "button",
                        classes: 'govuk-!-margin-top-6 govuk-button--secondary',
                        attributes: {"data-qa": "cancel-button"},
                        href: navigation.cancelButton,
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
