{% extends "../../../../partials/layout.njk" %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "../../partials/addContactTabNavigation.njk" import contactTabNavigation %}

{% block content %}
{% include '../../../../partials/navigation.njk' %}
{{ miniProfile(prisonerDetails) }}
<div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Contacts</span>
        <h1 class="govuk-heading-l">Contact details - {{ contact | formatNameFirstNameFirst }}</h1>
        {%- include "./manageBasicDetails.njk" -%}
        {%- include "./manageRelationshipDetails.njk" -%}
        {%- include "./managePhoneNumbers.njk" -%}
        {%- include "./manageEmailAddresses.njk" -%}
        {%- include "./manageIdentityNumbers.njk" -%}
        {%- include "./language.njk" -%}
        {%- include "./domesticStatus.njk" -%}
        {%- include "./manageStaff.njk" -%}
    </div>
</div>
{% endblock %}