{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if isNewContact %}
  {% set pageTitle = "What is the contact’s domestic status? - Add a contact - DPS" %}
  {% set title =  "What is " + journey.names | formatNameFirstNameFirst(possessiveSuffix = true) + " domestic status? (optional)" %}
  {% set continueButtonLabel = "Continue" %}
  {% set caption = journey | captionForAddContactJourney %}
{% else %}
  {% set pageTitle = "What is the contact’s domestic status? - Edit contact details - DPS" %}
  {% set title =  "What is " + contact | formatNameFirstNameFirst(possessiveSuffix = true) + " domestic status?"%}
  {% set continueButtonLabel = "Confirm and save" %}
  {% set caption = "Edit additional information for a contact" %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>
        <form method='POST'>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {{ govukRadios({
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6 main-heading"
              }
            },
            errorMessage: validationErrors | findError('domesticStatusCode'),
            id: "domesticStatusCode",
            name: "domesticStatusCode",
            items: domesticStatusOptions | referenceCodesToRadios | setChecked(domesticStatusCode)
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({
              text: continueButtonLabel,
              type: "submit",
              classes: 'govuk-!-margin-top-6',
              attributes: {"data-qa": "continue-button"},
              preventDoubleClick: true
            }) }}
            {% if navigation.cancelButton %}
              <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
            {% endif %}
          </div>
        </form>
     </div>
</div>
{% endblock %}
