{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Language details"
        }
    },
    rows: [{
        key: {
            text: "Spoken language"
        },
        value: {
            text: contact.languageDescription or 'Not provided',
            classes: 'manage-language-code-value'
        },
        actions: {
            items: [
                {
                    href: "/prisoner/"+ prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/language?returnUrl=" + manageContactRelationshipUrl,
                    text: "Change",
                    visuallyHiddenText: "spoken language",
                    attributes: {"data-qa": "add-language"},
                    classes: 'govuk-link--no-visited-state'
                }
            ]
        }
    },
    {
        key: {
            text: "Needs interpreter"
        },
        value: {
            text: 'Yes' if contact.interpreterRequired === true else 'No',
            classes: 'manage-interpreter-needs-value'
        },
        actions: {
            items: [
                {
                    href: "/prisoner/"+ prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/interpreter?returnUrl=" + manageContactRelationshipUrl,
                    text: "Change",
                    visuallyHiddenText: "needs interpreter",
                    attributes: {"data-qa": "add-interpreter"},
                    classes: 'govuk-link--no-visited-state'
                }
            ]
        }
    }]
}) }}
