{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Language details"
        }
    },
    rows: [{
        key: {
            text: "Spoken language"
        },
        value: {
            text: contact.languageDescription if contact.languageDescription else 'Not provided',
            classes: 'manage-language-code-value'
        },
        actions: {
            items: [
                {
                    href: "/contacts/manage/" + prisonerDetails.prisonerNumber + "/" + contact.id + "/language/" + journey.id,
                    text: "Change",
                    visuallyHiddenText: "spoken language",
                    attributes: {"data-qa": "manage-language-code-value"}
                }
            ]
        }
    }]
}) }}
