{% extends "../../../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}

{% set pageTitle = applicationName + " - Enter gender" %}
{% set title = "What is " + contact | formatNameFirstNameFirst(possessiveSuffix = true) + " gender? (optional)" %}

{% block content %}

{% include '../../../../partials/navigation.njk' %}
{{ miniProfile(prisonerDetails) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Contacts</span>
        <form method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            {{ govukRadios({
              fieldset: {
                legend: {
                  text: title,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6 main-heading"
                }
              },
              id: "gender",
                name: "gender",
                items: genderOptions
            }) }}
            <div class="govuk-button-group">
                {{ govukButton({
                    html: "Confirm and save",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: {"data-qa": "continue-button"},
                    preventDoubleClick: true
                }) }}
                <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ journey.returnPoint.url }}" data-qa="cancel-button">Cancel</a>
            </div>
        </form>
     </div>
</div>
{% endblock %}
