{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set identityNumbers = [] %}

{% if contact.identities and contact.identities.length > 0 %}
    {% for item in contact.identities %}
        {% set actions = [] %}

        {% if item.identityTypeIsActive == true %}
            {% set actions = actions.concat([{
                href: "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/identity/" + item.contactIdentityId + "/edit",
                text: "Edit",
                visuallyHiddenText: "identity number",
                attributes: {"data-qa": "edit-identity-number-" + item.contactIdentityId},
                classes: "govuk-link--no-visited-state"
            }]) %}
        {% endif %}

        {% set actions = actions.concat([{
            href: "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/identity/" + item.contactIdentityId + "/delete",
            text: "Delete",
            visuallyHiddenText: "identity number",
            attributes: {"data-qa": "delete-identity-number-" + item.contactIdentityId},
            classes: "govuk-link--no-visited-state"
        }]) %}

        {% set identityNumbers = identityNumbers.concat([{
            key: {
                text: (item.identityTypeDescription)
            },
            value: {
                html: item.identityValue + ('<p>' + item.issuingAuthority + '</p>' if item.identityType == 'PASS' else ''),
                classes: 'confirm-' + item.identityType + '-value'
            },
            actions: {
                items: actions
            }
        }]) %}
    {% endfor %}
{% else %}
    {% set identityNumbers = identityNumbers.concat([{
        key: {
            text: 'Identity numbers'
        },
        value: {
            text: 'Not provided',
            classes: 'identity-numbers-not-provide-value'
        }
    }]) %}
{% endif %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Identity numbers"
        },
        actions: {
            items: [
                {
                    href: "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/identity/create",
                    text: "Add identity number",
                    attributes: {"data-qa": "add-identity-number"},
                    classes: "govuk-link--no-visited-state"
                }
            ]
        }
    },
    rows: identityNumbers
}) }}
