{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set phoneNumbers = [] %}

{% if contact.phoneNumbers and contact.phoneNumbers.length > 0 %}
    {% for item in contact.phoneNumbers %}
        {% set phoneNumbers = (
            phoneNumbers.push(
                {
                    key: {
                        text: item.phoneTypeDescription
                    },
                    value: {
                        text: item.phoneNumber,
                        classes: 'phone-number-value-' + item.contactPhoneId
                    },
                    actions: {
                        items: [
                            {
                                href: "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/phone/" + item.contactPhoneId + "/edit",
                                text: "Edit",
                                visuallyHiddenText: " phone number",
                                attributes: {"data-qa": "edit-phone-number-" + item.contactPhoneId}
                            }
                        ]
                    }
                }
            ), phoneNumbers) %}
    {% endfor %}
{% else %}
    {% set phoneNumbers = (
        phoneNumbers.push(
            {
                key: {
                    text: 'Phone number'
                },
                value: {
                    text: 'Not provided',
                    classes: 'phone-numbers-not-provide-value'
                }
            }
        ), phoneNumbers) %}

{% endif %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Phone numbers"
        },
        actions: {
            items: [
                {
                    href: "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/phone/create",
                    text: "Add phone number",
                    attributes: {"data-qa": "add-phone-number"}
                }
            ]
        }
    },
    rows: phoneNumbers
}) }}