
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set  formattedDateOfBirth %}{% if contact.dateOfBirth %}{{ contact.dateOfBirth | formatDate }}{% else %}Not provided{% endif %}{% endset %}
{% set  estimatedIsOverEighteen %}
    {% if contact.estimatedIsOverEighteen == 'YES' %}{{ 'Yes' }}
    {% elseif contact.estimatedIsOverEighteen == 'NO' %}{{ 'No' }}
    {% elseif contact.estimatedIsOverEighteen == 'DO_NOT_KNOW' %}{{ 'I don’t know' }}
    {% else %}{{ 'Not provided' }}
{% endif %}{% endset %}

{% set contactDetailsRows = [{
        key: {
            text: "Name"
        },
        value: {
            text: formattedFullName,
            classes: 'manage-names-value'
        },
        actions: {
            items: [
                {
                    href: "/prisoner/"+ prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/name",
                    text: "Change",
                    visuallyHiddenText: " name",
                    attributes: {"data-qa": "change-name-link"},
                    classes: "govuk-link--no-visited-state"
                }
            ]
        }
    },
    {
        key: {
            text: "Gender"
        },
        value: {
            text: contact.genderDescription if contact.genderDescription else 'Not provided',
            classes: 'manage-gender-value'
        },
        actions: {
            items: [
                {
                    href: "/prisoner/"+ prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/gender",
                    text: "Change",
                    visuallyHiddenText: "gender",
                    attributes: {"data-qa": "select-gender"}
                }
            ]
        }
    },
    {
        key: {
            text: "Date of birth"
        },
        value: {
            text:  formattedDateOfBirth,
            classes: 'manage-dob-value'
        },
        actions: {
            items: [
                {
                    href: "/prisoner/"+ prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/update-dob/start",
                    text: "Change",
                    visuallyHiddenText: " date of birth",
                    attributes: {"data-qa": "change-dob-" + contact.id},
                    classes: "govuk-link--no-visited-state"
                }
            ]
        }
    }]
%}

{% if contact.dateOfBirth == null %}
    {% set contactDetailsRows = (contactDetailsRows.push(
        {
            key: {
                text: "Is contact over 18?"
            },
            value: {
                text:  estimatedIsOverEighteen,
                classes: 'manage-is-over-eighteen-value'
            },
            actions: {
                items: [
                    {
                        href: "/prisoner/"+ prisonerDetails.prisonerNumber + "/contacts/manage/" + contact.id + "/update-estimated-dob",
                        text: "Change",
                        visuallyHiddenText: " is contact over 18?",
                        attributes: {"data-qa": "change-estimated-dob-" + contact.id},
                        classes: "govuk-link--no-visited-state"
                    }
                ]
            }
        }
    ), contactDetailsRows) %}
{% endif %}

{% if contact.deceasedDate != null %}
    {% set contactDetailsRows = (contactDetailsRows.push(
        {
            key: {
                text: "Deceased date"
            },
            value: {
                text: contact.deceasedDate | formatDate,
                classes: 'manage-deceased-date-value'
            },
            actions: {
                items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "deceased date",
                        classes: 'govuk-visually-hidden'
                    }
                ]
            }
        }
    ), contactDetailsRows) %}
{% endif %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Contact details"
        }
    },
    rows: contactDetailsRows
}) }}
