{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "partials/validatedDateInput/macro.njk" import validatedDateInput %}

{% if contact.deceasedDate %}
  {% set pageTitle = "Change the date of death for the contact - Edit contact details - DPS" %}
  {% set title = 'Change the date of death for ' + contact | formatNameFirstNameFirst %}
{% else %}
  {% set pageTitle = "Record the date of death for the contact - Edit contact details - DPS" %}
  {% set title = 'Record the date of death for ' + contact | formatNameFirstNameFirst %}
{% endif %}

{% block content %}

{% include 'partials/navigation.njk' %}
{{ miniProfile(prisonerDetails) }}
{% include 'partials/formErrorSummary.njk' %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Edit contact details</span>
        <form method='POST'>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {{ validatedDateInput({
            id: "dateOfDeath",
            title: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6 main-heading"
            },
            validationErrors: validationErrors,
            hintText: "For example, 17 2 2025.",
            day: day,
            month: month,
            year: year
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Confirm and save",
              type: "submit",
              classes: 'govuk-!-margin-top-6',
              attributes: {"data-qa": "continue-button"},
              preventDoubleClick: true
            }) }}
            {% if navigation.cancelButton %}
              <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
            {% endif %}
          </div>
        </form>
     </div>
</div>
{% endblock %}
