{% extends "../../../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}

{% set pageTitle = applicationName + " - Enter domestic status" %}
{% set title = "What is the domestic status of " + contact | formatNameFirstNameFirst + "?" %}

{% block content %}

{% include '../../../../partials/navigation.njk' %}

{{ miniProfile(prisonerDetails) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-l">Contacts</span>
      <h1 class="govuk-heading-l" data-qa="main-heading"><label for="domesticStatusCode">{{ title }}</label></h1>
        <form method='POST'>
             <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
             {{ govukSelect({
                id: "domesticStatusCode",
                name: "domesticStatusCode",
                items: domesticStatusOptions
            }) }}
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Confirm and save",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: {"data-qa": "continue-button"},
                    preventDoubleClick: true
                }) }}
                <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ journey.returnPoint.url }}" data-qa="cancel-button">Cancel</a>
            </div>
        </form>
     </div>
</div>
{% endblock %}
