{% extends "../../../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Enter domestic status" %}
{% set title = "What is the domestic status of " + contact | reverseFormatName + "?" %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: '/prisoner/' + prisonerDetails.prisonerNumber + '/contacts/manage/' + contact.id,
    attributes: {"data-qa": "back-link"}
}) }}

{{ miniProfile(prisonerDetails) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-l">Contacts</span>
        <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
        <form method='POST'>
             <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
             {{ govukSelect({
                id: "domesticStatusCode",
                name: "domesticStatusCode",
                items: domesticStatusOptions
            }) }}
            <div class="govuk-button-group">
                {{ govukButton({
                    html: "Confirm and save",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: {"data-qa": "continue-button"}
                }) }}
                <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/prisoner/{{prisonerDetails.prisonerNumber}}/contacts/manage/{{contact.id}}" data-qa="cancel-button">Cancel</a>
            </div>
        </form>
     </div>
</div>
{% endblock %}