{% extends "../../../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Update emergency contact" %}
{% set title = "Is " + contact | reverseFormatName + " an emergency contact for the prisoner?" %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: journey.returnPoint.url,
    attributes: {"data-qa": "back-link"}
}) }}

{{ miniProfile(prisonerDetails) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-l">Contacts</span>
        <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
        <form method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            
            {{ govukRadios({
                    name: "emergencyContactStatus",
                    items: [
                        {
                            value: "YES",
                            text: 'YES' | formatYesNo,
                            checked: relationship.emergencyContact === true
                        },
                        {
                            value: "NO",
                            text: 'NO' | formatYesNo,
                            checked: relationship.emergencyContact === false
                        }
                    ]
                })
            }}

            <div class="govuk-button-group">
                {{ govukButton({
                    html: "Save and Continue",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: {"data-qa": "continue-button"}
                }) }}
                <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ journey.returnPoint.url }}" data-qa="cancel-button">Cancel</a>
            </div>
        </form>
     </div>
</div>
{% endblock %}