{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set phoneNumbers = [] %}

{% if contact.phoneNumbers and contact.phoneNumbers.length > 0 %}
    {% for item in contact.phoneNumbers %}
        {% set phoneNumbers = (
            phoneNumbers.push(
                {
                    key: {
                        text: item.phoneTypeDescription
                    },
                    value: {
                        text: item.phoneNumber,
                        classes: 'phone-number-value-' + loop.index
                    }
                }
            ), phoneNumbers) %}
    {% endfor %}
{% else %}
    {% set phoneNumbers = (
        phoneNumbers.push(
            {
                key: {
                    text: 'Phone number'
                },
                value: {
                    text: 'Not provided',
                    classes: 'phone-numbers-not-provide-value'
                }
            }
        ), phoneNumbers) %}

{% endif %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Phone numbers"
        }
    },
    rows: phoneNumbers
}) }}