{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Staff status" %}
{% set title = "Is " + (contact | formatNameFirstNameFirst) + " an emergency contact or next of kin for " + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + "?" + (" (optional)" if isOptional else "") %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% include 'partials/navigation.njk' %}
  {{ miniProfile(prisonerDetails) }}
  {% include 'partials/formErrorSummary.njk' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukRadios({
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6 main-heading"
            }
          },
          name: "isEmergencyContactOrNextOfKin",
          errorMessage: validationErrors | findError('isEmergencyContactOrNextOfKin'),
          items: [
            {
              value: 'EC',
              text: 'Emergency contact',
              checked: emergencyContact === true and nextOfKin === false
            },
            {
              value: 'NOK',
              text: 'Next of kin',
              checked: emergencyContact === false and nextOfKin === true
            },
            {
              value: 'ECNOK',
              text: 'Both emergency contact and next of kin',
              checked: emergencyContact === true and nextOfKin === true
            },
            {
              divider: "or"
            },
            {
              value: 'NONE',
              text: 'None of the above',
              checked: emergencyContact === false and nextOfKin === false
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: continueButtonLabel,
            type: "submit",
            classes: 'govuk-!-margin-top-6',
            attributes: {"data-qa": "continue-button"},
            preventDoubleClick: true
          }) }}
          {% if navigation.cancelButton %}
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
