{% extends "partials/layout.njk" %}
{% from "moj/components/badge/macro.njk" import mojBadge %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/matchContactContent.njk" import matchContactContent %}
{% from "moj/components/alert/macro.njk" import mojAlert %}
{% set pageTitle = "Check and confirm if you want to link a contact to a prisoner - Manage contacts - DPS" %}
{% set title = 'Check and confirm if you want to link contact ' + (contact | formatNameFirstNameFirst ) +' to prisoner ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      <span class="govuk-caption-l">Link a contact to a prisoner</span>
      <h1 class="govuk-heading-l" data-qa="confim-title-value-top">{{ title }}</h1>

      {% if existingRelationshipSummaries and existingRelationshipSummaries.length > 0 %}
        {% set reviewUrl = '/prisoner/' + prisonerDetails.prisonerNumber + '/contacts/create/review-existing-relationships/' + contact.id + '/' + journey.id %}
        {{ mojAlert({
          variant: "information",
          title: (contact | formatNameFirstNameFirst) + ' (' + contact.id + ') is already linked to the prisoner',
          dismissible: false,
          html: (contact | formatNameFirstNameFirst) + ' (' + contact.id + ') is already linked to prisoner ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + '. <br/><a href="' + reviewUrl + '" class="govuk-link" data-qa="view-existing-record-link">View existing record' +  ('s' if existingRelationshipSummaries.length > 1) + '</a>'
        }) }}
      {% endif %}
      {% if globalRestrictions.length > 0 %}
        {{ mojBadge({
          text: "Active restrictions in place",
          classes: "moj-badge--red"
        }) }}
      {% endif %}
      <p class="govuk-body govuk-!-margin-top-3">If this is the correct contact record but their information needs to be updated, you can make updates after you link the record to the prisoner. </p>
    </div>
  </div>
  {{ matchContactContent({
    contact: contact,
    prisonerDetails: prisonerDetails,
    globalRestrictions: globalRestrictions,
    linkedPrisoners: linkedPrisoners,
    linkedPrisonersCount: linkedPrisonersCount,
    phoneTypeOrderDictionary: phoneTypeOrderDictionary,
    paginationParams: paginationParams
  }) }}
  <div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {% if existingRelationshipSummaries and existingRelationshipSummaries.length > 0 %}
          {% set actionQuestion = 'Do you want to create another relationship link between this contact and ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + '?' %}
        {% else %}
          {% set actionQuestion = 'Is this the correct contact to link to ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + '?'%}
        {% endif %}
        {{ govukRadios({
          name: "isContactMatched",
          fieldset: {
            legend: {
              text: actionQuestion,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            },
            attributes: {"data-qa": "confim-title-value-bottom"}
          },
          items: [
            {
              value: "YES",
              text: "Yes",
              checked: journey.isContactMatched === 'YES',
              id: 'contactMatchActionYes'
            },
            {
              value: "NO_SEARCH_AGAIN",
              text: "No, take me back to contact search to try again",
              checked: journey.isContactMatched === 'NO_SEARCH_AGAIN',
              id: 'contactMatchActionNoSearchAgain'
            },
            {
              value: "NO_CREATE_NEW",
              text: "No, I need to add a new contact onto the system",
              checked: journey.isContactMatched === 'NO_CREATE_NEW',
              id: 'contactMatchActionNoCreateNew'
            } if existingRelationshipSummaries and existingRelationshipSummaries.length == 0,
            {
              value: "NO_GO_BACK_TO_CONTACT_LIST",
              text: "No, take me back to the prisoner’s contact list without making any changes",
              checked: journey.isContactMatched === 'NO_GO_BACK_TO_CONTACT_LIST',
              id: 'contactMatchActionNoGoToContactList'
            } if existingRelationshipSummaries and existingRelationshipSummaries.length > 0
          ],
          errorMessage: validationErrors | findError('isContactMatched')
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit",
            classes: 'govuk-!-margin-top-6',
            attributes: {"data-qa": "continue-button"},
            preventDoubleClick: true
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
