{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/matchContactContent.njk" import matchContactContent %}
{% set pageTitle = "Check and confirm if you want to link a contact to a prisoner - Manage contacts - DPS" %}
{% set title = 'Check and confirm if you want to link contact ' + (contact | formatNameFirstNameFirst ) +' to prisoner ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      <span class="govuk-caption-l">Link a contact to a prisoner</span>
      <h1 class="govuk-heading-l" data-qa="confim-title-value-top">{{ title }}</h1>
      <p class="govuk-body">If this is the correct contact record but their information needs to be updated, you can make updates after you link the record to the prisoner. </p>
    </div>
  </div>
  {{ matchContactContent({
    contact: contact,
    prisonerDetails: prisonerDetails,
    globalRestrictions: globalRestrictions,
    linkedPrisoners: linkedPrisoners,
    linkedPrisonersCount: linkedPrisonersCount,
    phoneTypeOrderDictionary: phoneTypeOrderDictionary,
    paginationParams: paginationParams
  }) }}
  <div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukRadios({
          name: "isPossibleExistingRecordMatched",
          fieldset: {
            legend: {
              text: 'Is this the correct contact to link to ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + '?',
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            },
            attributes: {"data-qa": "confim-existing-record-bottom"}
          },
          items: [
            {
              value: "YES",
              text: "Yes",
              checked: journey.isPossibleExistingRecordMatched === 'YES'
            },
            {
              value: "NO_GO_BACK_TO_POSSIBLE_EXISTING_RECORDS",
              text: "No, take me back to the other possible existing records",
              checked: journey.isPossibleExistingRecordMatched === 'NO_GO_BACK_TO_POSSIBLE_EXISTING_RECORDS'
            } if multipleMatches,
            {
              value: "NO_CONTINUE_ADDING_CONTACT",
              text: "No, I need to continue adding a new contact onto the system",
              checked: journey.isPossibleExistingRecordMatched === 'NO_CONTINUE_ADDING_CONTACT'
            }
          ],
          errorMessage: validationErrors | findError('isPossibleExistingRecordMatched')
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit",
            classes: 'govuk-!-margin-top-6',
            attributes: {"data-qa": "continue-button"},
            preventDoubleClick: true
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
