.govuk-main-wrapper {
  min-height: 600px;
}

.block-background {
  background-color: govuk-colour("light-grey");
  padding: 30px 15px;
}

#active-contacts, #inactive-contacts {
  border: 0;
  padding: 30px 0;
}