{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set mainClasses = "app-container govuk-body" %}

{% if isNewContact %}
  {% if journey.mode === 'NEW' %}
    {% set pageTitle = "Is the contact approved to visit the prisoner? - Add a contact - DPS" %}
  {% else %}
    {% set pageTitle = "Is the contact approved to visit the prisoner? - Link a contact to a prisoner - DPS" %}
  {% endif %}
  {% set title = "Is " + (contact | formatNameFirstNameFirst) + " approved to visit " + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + "? (optional)" %}
  {% set continueButtonLabel = "Continue" %}
  {% set caption = journey | captionForAddContactJourney %}
  {% set isOptional = true %}
{% else %}
  {% set pageTitle = "Is the contact approved to visit the prisoner? - Edit contact details - DPS" %}
  {% set title = "Is " + (contact | formatNameFirstNameFirst) + " approved to visit " + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + "?" %}
  {% set continueButtonLabel = "Confirm and save" %}
  {% set caption = "Edit contact relationship information" %}
  {% set isOptional = false %}
{% endif %}

{% block content %}
  {% set hintHtmlForOptional %}
    {% if isOptional %}
      <div class="govuk-body">
        <p>Skip this question if:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>the contact has not yet been checked and approved for visits to this prisoner</li>
          <li>for any other reason, you’re not sure whether the contact is approved to visit the prisoner or not</li>
        </ul>
      </div>
    {% endif %}
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Procedures for approving visitors
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-body"><p>Check your local procedures when approving visitors for prisoners.</p><p>You must also check prisoner alerts and contact the OMU before approving a visitor if the prisoner has been:</p><ul class="govuk-list govuk-list--bullet"><li>identified as a person posing a risk to children (PPRC) or a potential PPRC</li><li>convicted or remanded for a harassment offence (including stalking)</li><li>subject to public protection contact restrictions, including victim contact restrictions, court order restriction, victim or witness contact restriction (remand cases) or no-contact requests</li><li>identified as a domestic abuse perpetrator</li><li>cautioned, convicted, or otherwise dealt with in respect of a sexual offence listed in Schedule 3 of the Sex Offences Act 2003</li></ul></div>
      </div>
    </details>
  {% endset -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukRadios({
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6 main-heading"
            }
          },
          hint: {
            html: hintHtmlForOptional
          },
          name: "isApprovedToVisit",
          errorMessage: validationErrors | findError('isApprovedToVisit'),
          items: [
            {
              value: 'YES',
              text: 'YES' | formatYesNo,
              checked: isApprovedVisitor === true
            },
            {
              value: 'NO',
              text: 'NO' | formatYesNo,
              checked: isApprovedVisitor === false
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: continueButtonLabel,
            type: "submit",
            classes: 'govuk-!-margin-top-6',
            attributes: {"data-qa": "continue-button"},
            preventDoubleClick: true
          }) }}
          {% if navigation.cancelButton %}
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
