{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set mainClasses = "app-container govuk-body" %}

{% if isNewContact %}
  {% set pageTitle = "Is the contact approved to visit the prisoner? - Add a contact - DPS" %}
  {% set title = "Is " + (contact | formatNameFirstNameFirst) + " approved to visit " + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + "? (optional)" %}
  {% set continueButtonLabel = "Continue" %}
  {% set caption = journey | captionForAddContactJourney %}
{% else %}
  {% set pageTitle = "Is the contact approved to visit the prisoner? - Edit contact details - DPS" %}
  {% set title = "Is " + (contact | formatNameFirstNameFirst) + " approved to visit " + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + "?" %}
  {% set continueButtonLabel = "Confirm and save" %}
  {% set caption = "Edit contact relationship information" %}
{% endif %}

{% block content %}
  {% include 'partials/navigation.njk' %}
  {{ miniProfile(prisonerDetails) }}
  {% include 'partials/formErrorSummary.njk' %}

  {% set hintHtmlForOptional %}
    <div class="govuk-body">
      <p>Skip this question if:</p>
      <ul>
        <li>the contact has not yet been checked and approved for visits to this prisoner</li>
        <li>for any other reason, you’re not sure whether the contact is approved to visit the prisoner or not</li>
      </ul>
    </div>
  {% endset -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukRadios({
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6 main-heading"
            }
          },
          hint: {
            html: hintHtmlForOptional
          } if isOptional else undefined,
          name: "isApprovedToVisit",
          errorMessage: validationErrors | findError('isApprovedToVisit'),
          items: [
            {
              value: 'YES',
              text: 'YES' | formatYesNo,
              checked: isApprovedVisitor === true
            },
            {
              value: 'NO',
              text: 'NO' | formatYesNo,
              checked: isApprovedVisitor === false
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: continueButtonLabel,
            type: "submit",
            classes: 'govuk-!-margin-top-6',
            attributes: {"data-qa": "continue-button"},
            preventDoubleClick: true
          }) }}
          {% if navigation.cancelButton %}
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
