{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}

{% set pageTitle = "What is the status of the relationship between the contact and the prisoner? - Edit contact details - DPS" %}
{% set title = "What is the status of the relationship between " + contact | formatNameFirstNameFirst + " and " + prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true) + "?" %}

{% block content %}

  {% include 'partials/navigation.njk' %}
  {{ miniProfile(prisonerDetails) }}
  {% include 'partials/formErrorSummary.njk' %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Edit contact relationship information</span>
        <form method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            {{ govukRadios({
              fieldset: {
                legend: {
                  text: title,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6 main-heading"
                }
              },
              errorMessage: validationErrors | findError('relationshipStatus'),
              name: "relationshipStatus",
                    items: [
                        {
                            value: "YES",
                            text: 'Active',
                            checked: isRelationshipActive === true
                        },
                        {
                            value: "NO",
                            text: 'Inactive',
                            checked: isRelationshipActive === false
                        }
                    ]
                })
            }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Confirm and save",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: {"data-qa": "continue-button"},
                    preventDoubleClick: true
                }) }}
                <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
            </div>
        </form>
     </div>
</div>
{% endblock %}
