{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}

{% if isUpdateJourney %}
  {% set pageTitle = "Change the comments on the relationship between the contact and the prisoner - Edit contact details - DPS" %}
  {% set title = "Change the comments on the relationship between " + names | formatNameFirstNameFirst + " and " + prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true) %}
  {% set caption = 'Edit contact relationship information' %}
  {% set continueButtonLabel = 'Confirm and save' %}
{% else %}
  {% if journey.mode === 'NEW' %}
    {% set pageTitle = "Add comments on the relationship between the contact and the prisoner - Add a contact - DPS" %}
  {% else %}
    {% set pageTitle = "Add comments on the relationship between the contact and the prisoner - Link a contact to a prisoner - DPS" %}
  {% endif %}
  {% set title = "Add comments on the relationship between " + names | formatNameFirstNameFirst + " and " + prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true) + " (optional)" %}
  {% set caption = journey | captionForAddContactJourney %}
  {% set continueButtonLabel = 'Continue' %}
{% endif %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{% include 'partials/navigation.njk' %}
{{ miniProfile(prisonerDetails) }}
{% include 'partials/formErrorSummary.njk' %}
 <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
     <span class="govuk-caption-l">{{ caption }}</span>
     <h1 class="govuk-heading-l" data-qa="main-heading"><label for="comments">{{ title }}</label></h1>
     <form method='POST'>
       <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
       {{ govukCharacterCount({
         name: "comments",
         id: "comments",
         maxlength: 240,
         value: comments,
         errorMessage: validationErrors | findError('comments')
       }) }}
       <div class="govuk-button-group">
         {{ govukButton({
           text: continueButtonLabel,
           type: "submit",
           classes: 'govuk-!-margin-top-6',
           attributes: {"data-qa": "continue-button"},
           preventDoubleClick: true
         }) }}
         {% if navigation.cancelButton %}
           <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
         {% endif %}
       </div>
     </form>
   </div>
 </div>

{% endblock %}
