{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}

{% if isNewContact %}
  {% set caption = journey | captionForAddContactJourney %}
  {% if journey.mode === 'NEW' %}
    {% set pageTitle = "What is the contact’s relationship to the prisoner? - Add a contact - DPS" %}
  {% else %}
    {% set pageTitle = "What is the contact’s relationship to the prisoner? - Link a contact to a prisoner - DPS" %}
  {% endif %}
{% else %}
  {% set caption = 'Edit contact relationship information' %}
  {% set pageTitle = "What is the contact’s relationship to the prisoner? - Edit contact details - DPS" %}
{% endif %}
{% set title = "What is " + names | formatNameFirstNameFirst(possessiveSuffix = true) + " relationship to " + prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true) + "?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% include 'partials/navigation.njk' %}
{{ miniProfile(prisonerDetails) }}
{% include 'partials/formErrorSummary.njk' %}
 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ caption }}</span>
            <h1 class="govuk-heading-l" data-qa="main-heading"><label for="relationship">{{ title }}</label></h1>
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                    id: "relationship",
                    name: "relationship",
                    hint: {
                        id: 'relationship-hint',
                        text: ('For example, if ' + names | formatNameFirstNameFirst + ' is the prisoner’s uncle, select ‘Uncle’.') if relationshipType === 'S' else ('For example, if ' + names | formatNameFirstNameFirst + ' is the prisoner’s doctor, select ‘Doctor’.')
                    },
                    items: relationshipOptions | referenceCodesToSelect('Select social relationship' if relationshipType === 'S' else 'Select official relationship', noNullishSelectOption) | setSelected(relationship),
                    errorMessage: validationErrors | findError('relationship')
                }) }}
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: continueButtonLabel,
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                  {% if navigation.cancelButton %}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
                  {% endif %}
                </div>
            </form>

        </div>
    </div>

{% endblock %}
