{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Addresses"
        },
        actions: {
            items: [
              {
                href: "#",
                text: "View all addresses"
              }
            ]
        }
    },
    rows: [{
        key: {
            text: "Address"
        },
        value: {
            html: '',
            classes: 'confirm-address-value'
        }
    },
    {
        key: {
            text: "Type"
        },
        value: {
            html: '',
            classes: 'confirm-type-value'
        }
    },
    {
        key: {
            text: "Address-specific phone numbers"
        },
        value: {
            html: '',
            classes: 'confirm-specific-phone-value'
        }
    },
    {
        key: {
            text: "Mail"
        },
        value: {
            html: '',
            classes: 'confirm-mail-value'
        }
    },
    {
        key: {
            text: "Comments"
        },
        value: {
            html: '',
            classes: 'confirm-mail-value'
        }
    },
    {
        key: {
            text: "Dates"
        },
        value: {
            html: '',
            classes: 'confirm-mail-value'
        }
    }]
}) }}