{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set mostRelevantAddressRow = [] %}
{% set addressSpecificPhoneNumbers = '' %}

{% if mostRelevantAddress %}
    {% if mostRelevantAddress.phoneNumbers and mostRelevantAddress.phoneNumbers.length > 0 %}
        {% for val in mostRelevantAddress.phoneNumbers %}
            {%
                set addressSpecificPhoneNumbers = addressSpecificPhoneNumbers + '<p data-qa=confirm-specific-phone-' + val.phoneType + '-value>' + (val.phoneType | capitalizeFirstLetter) + ': ' + val.phoneNumber + ' ' + '(' + val.extNumber + ')</p>'
            %}
        {% endfor %}
    {% endif %}

        {%
            set address = {
                flat: mostRelevantAddress.flat,
                premise: mostRelevantAddress.property,
                street: mostRelevantAddress.street,
                area: mostRelevantAddress.area,
                city: mostRelevantAddress.cityDescription,
                county: mostRelevantAddress.countyDescription,
                postalCode: mostRelevantAddress.postcode,
                country: mostRelevantAddress.countryDescription
            }
        %}

        {% if mostRelevantAddressLabel %}
            {% set mostRelevantAddressRow = (
                mostRelevantAddressRow.push(
                    {
                        key: {
                            text: mostRelevantAddressLabel,
                            classes: 'govuk-!-font-weight-regular most-relevant-address-label'
                        },
                        classes: 'govuk-summary-list__row--no-border'
                    }
            ), mostRelevantAddressRow) %}
        {% endif %}

        {% set mostRelevantAddressRow = (
            mostRelevantAddressRow.push(
                {
                    key: {
                        text: "Address"
                    },
                    value: {
                        html: address | addressToLines | escape | nl2br,
                        classes: 'confirm-address-value'
                    }
                }
        ), mostRelevantAddressRow) %}

        {% set mostRelevantAddressRow = (
            mostRelevantAddressRow.push(
                {
                    key: {
                        text: "Type"
                    },
                    value: {
                        text: mostRelevantAddress.addressTypeDescription or 'Address',
                        classes: 'confirm-type-value'
                    }
                }
        ), mostRelevantAddressRow) %}

        {% set mostRelevantAddressRow = (
            mostRelevantAddressRow.push(
                {
                    key: {
                        text: "Address-specific phone numbers"
                    },
                    value: {
                        html: 'Not provided' if not addressSpecificPhoneNumbers else addressSpecificPhoneNumbers,
                        classes: 'address-specific-phone-numbers-not-provided'
                    }
                }
        ), mostRelevantAddressRow) %}

        {% set mostRelevantAddressRow = (
            mostRelevantAddressRow.push(
                {
                    key: {
                        text: "Mail"
                    },
                    value: {
                        text: 'Yes' if mostRelevantAddress.mailFlag == true else 'No',
                        classes: 'confirm-mail-value'
                    }
                }
        ), mostRelevantAddressRow) %}

        {% set mostRelevantAddressRow = (
            mostRelevantAddressRow.push(
                {
                    key: {
                        text: "Comments"
                    },
                    value: {
                        text: 'Not provided' if not mostRelevantAddress.comments else mostRelevantAddress.comments,
                        classes: 'confirm-comments-value'
                    }
                }
        ), mostRelevantAddressRow) %}

        {% set mostRelevantAddressRow = (
            mostRelevantAddressRow.push(
                {
                    key: {
                        text: "Dates"
                    },
                    value: {
                        html: '<p data-qa="from-to-date">' + (mostRelevantAddress | formatDateRange or 'Not provided') + '</p>'
                    }
                }
        ), mostRelevantAddressRow) %}
{% endif %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Addresses"
        }
    },
    rows: mostRelevantAddressRow
}) }}
