{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set contactFullNameRow = [ contact.lastName + ','] %}

{% if contact.title %}
    {% set contactFullNameRow = (
        contactFullNameRow.push(
            (contact.title | capitalizeFirstLetter)
    ), contactFullNameRow) %}
{% endif %}

{% if contact.middleName %}
    {% set contactFullNameRow = (
        contactFullNameRow.push(
            contact.middleName
    ), contactFullNameRow) %}
{% endif %}

{% if contact.firstName %}
    {% set contactFullNameRow = (
        contactFullNameRow.push(
            contact.firstName
    ), contactFullNameRow) %}
{% endif %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Basic details"
        }
    },
    rows: [{
        key: {
            text: "Name"
        },
        value: {
            html: '<span data-qa="confirm-name-value">' + contactFullNameRow | join(' ') + '</span>'
        }
    },
    {
        key: {
            text: "Date of birth"
        },
        value: {
            html:  '<span data-qa="confirm-dob-value">' + contact.dateOfBirth | formatDate + '</span>'
        }
    },
    {
        key: {
            text: "Deceased date"
        },
        value: {
            html: '<span data-qa="confirm-deceased-date-value"> Not provided' if not contact.isDeceased else  contact.deceasedDate | formatDate + '</span>'
        }
    }]
}) }}