{% extends "../../../../partials/layout.njk" %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./notProvided.njk" import notProvided %}


{% set pageTitle = applicationName + " - Contact Confirmation" %}
{% set prisonerResultsLink = "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/list/" + journey.id %}

{% block content %}

{% macro contactDetailsHtml() %}
    {%- include "./basicDetails.njk" -%}
    {%- include "./addresses.njk" -%}
    {%- include "./phone.njk" -%}
    {%- include "./emailAddresses.njk" -%}
    {%- include "./identityNumbers.njk" -%}
    {%- include "./languageDetails.njk" -%}
{% endmacro %}

{% macro restrictionsHtml() %}
{% endmacro %}

{% macro linkedOffendersHtml() %}

{% endmacro %}

<div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <!-- BACK BTN -->
    </div>

    <div class="govuk-grid-column-full">
        {{ miniProfile(prisonerDetails) }}
    </div>

    {% include '../../../../partials/formErrorSummary.njk' %}

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Is this the right person to add as a contact for {{ prisonerDetails.lastName | convertToTitleCase + ", " + prisonerDetails.firstName | convertToTitleCase }}?</h1>
        <form method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#contact-details">
                            Contact details
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#restrictions">
                            Restrictions
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#linked-offenders">
                            Linked offenders
                        </a>
                    </li>
                </ul>
                <div class="govuk-tabs__panel--no-border govuk-!-static-padding-top-7" id="contact-details">
                    {{ contactDetailsHtml() }}
                </div>
                <div class="govuk-tabs__panel--no-border govuk-!-static-padding-top-7 govuk-tabs__panel--hidden" id="restrictions">
                    {{ restrictionsHtml() }}
                </div>
                <div class="govuk-tabs__panel--no-border govuk-!-static-padding-top-7 govuk-tabs__panel--hidden" id="linked-offenders">
                    {{ linkedOffendersHtml() }}
                </div>
            </div>

            {{ govukRadios({
                name: "isContactConfirmed",
                items: [
                    {
                        value: "YES",
                        text: "Yes, this is the right person",
                        checked: journey.isContactConfirmed === 'YES'
                    },
                    {
                        value: "NO",
                        text: "No, this is not the right person",
                        checked: journey.isContactConfirmed === 'NO'
                    }
                ],
                errorMessage: validationErrors | findError('isContactConfirmed')
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    html: "Continue",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: {"data-qa": "continue-button"}
                }) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}