{% extends "../../../../partials/layout.njk" %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/addContactTabNavigation.njk" import contactTabNavigation %}
{% from "../../partials/contactDetails/notProvided.njk" import notProvided %}
{% from "../../partials/contactDetails/basic.njk" import basicDetails %}
{% from "../../partials/contactDetails/addresses.njk" import addressDetails %}
{% from "../../partials/contactDetails/phones.njk" import phoneDetails %}
{% from "../../partials/contactDetails/emailAddresses.njk" import emailAddresses %}
{% from "../../partials/contactDetails/identityNumbers.njk" import identityNumbers %}
{% from "../../partials/contactDetails/language.njk" import language %}

{% set pageTitle = applicationName + " - Contact Confirmation" %}
{% set prisonerResultsLink = "/prisoner/" + prisonerDetails.prisonerNumber + "/contacts/list/" + journey.id %}
{% set isTheRightPersonTitle = 'Is this the right person to add as a contact for ' + (prisonerDetails | formatName)  + '?' %}

{% block content %}
{% macro contactDetailsHtml() %}
    {{ basicDetails(formattedFullName, contact) }}
    {% if contact.addresses.length > 0 %}
        {{ addressDetails(contact, [{
            href: "#",
            text: "View all addresses"
        }]) }}
    {% else %}
        {{ notProvided({title: 'Addresses', key: 'Address', className: 'addresses-not-provided' }) }}
    {% endif %}

    {% if contact.phoneNumbers.length > 0 %}
        {{ phoneDetails(contact) }}
    {% else %}
        {{ notProvided({title: 'Phone numbers', key: 'Phone number', className: 'phone-numbers-not-provided' }) }}
    {% endif %}

    {% if contact.emailAddresses.length > 0 %}
        {{ emailAddresses(contact) }}
    {% else %}
        {{ notProvided({title: 'Email addresses', key: 'Email addresses', className: 'email-addresses-not-provided' }) }}
    {% endif %}

    {% if contact.identities.length > 0 %}
        {{ identityNumbers(contact) }}
    {% else %}
        {{ notProvided({title: 'Identity numbers', key: 'Passport number', className: 'identity-numbers-not-provided' }) }}
    {% endif %}

    {{ language(contact) }}
{% endmacro %}

<div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-full">
        {% include '../../partials/addContactNavigation.njk' %}
        {{ miniProfile(prisonerDetails) }}
    </div>

    {% include '../../../../partials/formErrorSummary.njk' %}

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" data-qa="confim-title-value-top">{{ isTheRightPersonTitle }}</h1>
        <form method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            {{ contactTabNavigation(contactDetailsHtml) }}
            {{ govukRadios({
                name: "isContactConfirmed",
                fieldset: {
                    legend: {
                        text: isTheRightPersonTitle,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--l"
                    },
                    attributes: {"data-qa": "confim-title-value-bottom"}
                },
                items: [
                    {
                        value: "YES",
                        text: "Yes, this is the right person",
                        checked: journey.isContactConfirmed === 'YES'
                    },
                    {
                        value: "NO",
                        text: "No, this is not the right person",
                        checked: journey.isContactConfirmed === 'NO'
                    }
                ],
                errorMessage: validationErrors | findError('isContactConfirmed')
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    html: "Continue",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: {"data-qa": "continue-button"}
                }) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}