{% extends "../../../../partials/layout.njk" %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/restrictionsTable.njk" import restrictionsTable %}
{% from "partials/linkedPrisonersTable.njk" import linkedPrisonersTable %}
{% from "../../common/notProvided.njk" import notProvided %}


{% set pageTitle = applicationName + " - Contact Confirmation" %}
{% set isTheRightPersonTitle = 'Is this the right person to add as a contact for ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true))  + '?' %}

{% block content %}
{% macro contactDetailsHtml() %}
    {%- include "./basicDetails.njk" -%}

    {% if mostRelevantAddress %}
        {%- include "./addresses.njk" -%}
    {% else %}
        {{ notProvided({title: 'Addresses', key: 'Address', className: 'addresses-not-provided' }) }}
    {% endif %}

    {% if contact.phoneNumbers.length > 0 %}
        {%- include "./phone.njk" -%}
    {% else %}
        {{ notProvided({title: 'Phone numbers', key: 'Phone number', className: 'phone-numbers-not-provided' }) }}
    {% endif %}

    {% if contact.emailAddresses.length > 0 %}
        {%- include "./emailAddresses.njk" -%}
    {% else %}
        {{ notProvided({title: 'Email addresses', key: 'Email addresses', className: 'email-addresses-not-provided' }) }}
    {% endif %}

    {% if contact.identities.length > 0 %}
        {%- include "./identityNumbers.njk" -%}
    {% else %}
        {{ notProvided({title: 'Identity numbers', key: 'Passport number', className: 'identity-numbers-not-provided' }) }}
    {% endif %}

    {%- include "./languageDetails.njk" -%}
{% endmacro %}

<div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-full">
        {% include '../../../../partials/navigation.njk' %}
        {{ miniProfile(prisonerDetails) }}
    </div>

    {% include '../../../../partials/formErrorSummary.njk' %}

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" data-qa="confim-title-value-top">{{ isTheRightPersonTitle }}</h1>
        <form method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#contact-details">
                            Contact details
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab restrictions-tab-title" href="#restrictions">
                            Restrictions ({{ globalRestrictions.length }})
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab linked-prisoners-tab-title" href="#linked-prisoners">
                            Linked prisoners ({{ linkedPrisonersCount }})
                        </a>
                    </li>
                </ul>
                <div class="govuk-tabs__panel govuk-!-static-padding-top-7" id="contact-details">
                    {{ contactDetailsHtml() }}
                </div>
                <div class="govuk-tabs__panel govuk-!-static-padding-top-7 govuk-tabs__panel--hidden" data-qa="restrictions-result-message" id="restrictions">
                  {{ restrictionsTable( {
                    restrictions: globalRestrictions,
                    contact: contact,
                    prisonerDetails: prisonerDetails,
                    restrictionClass: 'CONTACT_GLOBAL',
                    showActions: false
                  } ) }}
                </div>
                <div class="govuk-tabs__panel govuk-!-static-padding-top-7 govuk-tabs__panel--hidden" id="linked-prisoners">
                    {% if linkedPrisoners.length > 0 %}
                        <h1 class="govuk-heading-l" data-qa="confirm-global-restriction-title">Prisoners linked to contact {{ contact | formatNameFirstNameFirst }}</h1>
                        {{ linkedPrisonersTable({ linkedPrisoners: linkedPrisoners, paginationParams: paginationParams }) }}
                    {% else %}
                        <p data-qa="no-linked-prisoners-message">No linked prisoners recorded.</p>
                    {% endif %}
                </div>
            </div>
            {{ govukRadios({
                name: "isContactConfirmed",
                fieldset: {
                    legend: {
                        text: isTheRightPersonTitle,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--l"
                    },
                    attributes: {"data-qa": "confim-title-value-bottom"}
                },
                items: [
                    {
                        value: "YES",
                        text: "Yes, this is the right person",
                        checked: journey.isContactConfirmed === 'YES'
                    },
                    {
                        value: "NO",
                        text: "No, this is not the right person",
                        checked: journey.isContactConfirmed === 'NO'
                    }
                ],
                errorMessage: validationErrors | findError('isContactConfirmed')
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: {"data-qa": "continue-button"},
                    preventDoubleClick: true
                }) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
