{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Email addresses"
        }
    },
    rows: [{
        key: {
            text: "Email addresses"
        },
        value: {
            html: '',
            classes: 'check-answers-email-addresses-value'
        }
    }]
}) }}