{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Identity numbers"
        }
    },
    rows: [{
        key: {
            text: "Passport number"
        },
        value: {
            html: '<span data-qa="confirm-passport-number-value"></span>'
        }
    },
    {
        key: {
            text: "Driving licence"
        },
        value: {
            html: '<span data-qa="confirm-driving-licence-value"></span>'
        }
    },
    {
        key: {
            text: "PNC number"
        },
        value: {
            html: '<span data-qa="confirm-pnc-number-value"></span>'
        }
    }]
}) }}