{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Language details"
        }
    },
    rows: [{
        key: {
            text: "Spoken language"
        },
        value: {
            html: '',
            classes: 'confirm-spoken-language-value'
        }
    },
    {
        key: {
            text: "Needs interpreter"
        },
        value: {
            html: '',
            classes: 'confirm-needs-interpreter-value'
        }
    }]
}) }}