{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Language details"
        }
    },
    rows: [{
        key: {
            text: "Spoken language"
        },
        value: {
            html: '<span data-qa="confirm-spoken-language-value"></span>'
        }
    },
    {
        key: {
            text: "Needs interpreter"
        },
        value: {
            html: '<span data-qa="confirm-needs-interpreter-value"></span>'
        }
    }]
}) }}