{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro notProvided(param) %}
    {{ govukSummaryList({
        card: {
            title: {
                text: param.title
            }
        },
        rows: [{
            key: {
                text: param.key
            },
            value: {
                text: 'Not provided',
                classes: param.className
            }
        ]}
    }) }}
{% endmacro %}