{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Phone numbers"
        }
    },
    rows: [{
        key: {
            text: "Mobile"
        },
        value: {
            html: '<span data-qa="confirm-mobile-number-value"></span>'
        }
    },
    {
        key: {
            text: "Business"
        },
        value: {
            html: '<span data-qa="confirm-business-number-value"></span>'
        }
    }]
}) }}