{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
        title: {
            text: "Staff details"
        }
    },
    rows: [{
        key: {
            text: "Staff?"
        },
        value: {
            text: contact.isStaff if contact.isStaff else 'Not provided',
            classes: 'confirm-staff-status'
        },
        actions: {
            items: [
            {
                 href: baseChangeUrl + "/enter-staff-status/"  + journey.id,
                 text: "Change",
                 visuallyHiddenText: "staff status",
                 attributes: {"data-qa": "change-staff-status-link"},
                 classes: "govuk-link--no-staff-status-state"
            }]
         }
    }]
}) }}