{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro emailAddressesCard(opts) %}

  {% set contact = opts.contact %}
  {% set showActions = opts.showActions %}
  {% set prisonerNumber = opts.prisonerNumber %}
  {% set prisonerContactId = opts.prisonerContactId %}

  {% set emailAddresses = [] %}
  {% if contact.emailAddresses and contact.emailAddresses.length > 0 %}
    {% for item in contact.emailAddresses | sort(attribute = 'emailAddress') %}
      {% set actions = [] %}

      {% set actions = actions.concat([{
        href: "/prisoner/" + prisonerNumber + "/contacts/manage/" + contact.id + "/relationship/" + prisonerContactId + "/email/" + item.contactEmailId + "/edit",
        text: "Change",
        visuallyHiddenText: "this email address",
        attributes: {"data-qa": "change-email-address-" + item.contactEmailId},
        classes: "govuk-link--no-visited-state"
      }]) %}

      {% set actions = actions.concat([{
        href: "/prisoner/" + prisonerNumber + "/contacts/manage/" + contact.id + "/relationship/" + prisonerContactId + "/email/" + item.contactEmailId + "/delete",
        text: "Delete",
        visuallyHiddenText: "this email address",
        attributes: {"data-qa": "delete-email-address-" + item.contactEmailId},
        classes: "govuk-link--no-visited-state"
      }]) %}
      {% set emailAddresses = emailAddresses.concat([{
        key: {
          text: 'Email addresses' if loop.index0 == 0 else ''
        },
        value: {
          text: item.emailAddress
        },
        actions: {
          items: actions if showActions else []
        },
        classes: ('govuk-summary-list__row--no-border') if not loop.last
      }]) %}
    {% endfor %}
  {% else %}
    {% set emailAddresses = emailAddresses.concat([{
      key: {
        text: 'No email addresses provided.',
        classes: 'govuk-!-font-weight-regular govuk-!-width-full'
      }
    }]) %}
  {% endif %}

  {{ govukSummaryList({
    card: {
      classes: 'summary-card-wider-key-column',
      title: {
        text: "Email addresses"
      },
      actions: {
        items: [
            {
              href: "/prisoner/" + prisonerNumber + "/contacts/manage/" + contact.id + "/relationship/" + prisonerContactId + "/email/create",
              text: "Add email address",
              attributes: {"data-qa": "add-email-address-link"},
              classes: "govuk-link--no-visited-state"
            }
          ] if showActions else []
        }
    },
    rows: emailAddresses
  }) }}
{% endmacro %}
