{% extends "../../../../partials/layout.njk" %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = "What is the " + typeLabel + " for " + (journey.contactNames | formatNameFirstNameFirst) + "?" %}
{% set pageTitle = applicationName  + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}
{% block meta %}
    <meta name="autocompleteElements" content="town"/>
    <meta name="autocompleteElements" content="county"/>
    <meta name="autocompleteElements" content="country"/>
{% endblock %}
{% block content %}

    {% include '../../../../partials/navigation.njk' %}
    {{ miniProfile(prisonerDetails) }}
    {% include '../../../../partials/formErrorSummary.njk' %}
    <span class="govuk-caption-l">Contacts</span>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
            {% if usePrisonerAddress.enabled %}
                {{ govukButton({
                    text: "Use prisoner’s address",
                    type: "button",
                    classes: 'govuk-button--secondary',
                    attributes: {"data-qa": "use-prisoner-address-button"},
                    href: usePrisonerAddress.url,
                    preventDoubleClick: true
                }) }}
            {% endif %}

            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukCheckboxes({
                    name: "noFixedAddress",
                    values: [noFixedAddress],
                    items: [
                        {
                            value: "YES",
                            text: "No fixed address",
                            id: 'noFixedAddressYes'
                        }
                    ]
                }) }}

                {{ govukInput({
                    id: "flat",
                    name: "flat",
                    label: { text: "Flat (optional)" },
                    classes: 'govuk-!-width-two-thirds',
                    errorMessage: validationErrors | findError('flat'),
                    value: flat
                }) }}

                {{ govukInput({
                    id: "premises",
                    name: "premises",
                    label: { text: "Premises (optional)" },
                    classes: 'govuk-!-width-two-thirds',
                    errorMessage: validationErrors | findError('premises'),
                    value: premises
                }) }}

                {{ govukInput({
                    id: "street",
                    name: "street",
                    label: { text: "Street (optional)" },
                    classes: 'govuk-!-width-two-thirds',
                    errorMessage: validationErrors | findError('street'),
                    value: street
                }) }}

                {{ govukInput({
                    id: "locality",
                    name: "locality",
                    label: { text: "Locality (optional)" },
                    classes: 'govuk-!-width-two-thirds',
                    errorMessage: validationErrors | findError('locality'),
                    value: locality
                }) }}

                {{ govukSelect({
                    id: "town",
                    name: "town",
                    label: { text: "Town (optional)" },
                    formGroup: { classes: 'govuk-!-width-two-thirds'},
                    items: townOptions,
                    errorMessage: validationErrors | findError('town')
                }) }}

                {{ govukSelect({
                    id: "county",
                    name: "county",
                    label: {
                        text: "County (optional)"
                    },
                    formGroup: { classes: 'govuk-!-width-two-thirds'},
                    items: countyOptions,
                    errorMessage: validationErrors | findError('county')
                }) }}

                {{ govukInput({
                    id: "postcode",
                    name: "postcode",
                    label: { text: "Postcode (optional)" },
                    classes: 'govuk-!-width-two-thirds',
                    errorMessage: validationErrors | findError('postcode'),
                    value: postcode
                }) }}

                {{ govukSelect({
                    id: "country",
                    name: "country",
                    label: {
                        text: "Country"
                    },
                    formGroup: { classes: 'govuk-!-width-two-thirds'},
                    items: countryOptions,
                    errorMessage: validationErrors | findError('country')
                }) }}
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.backLink }}" data-qa="cancel-button">Cancel</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
