{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro domestic(contact, cardAction) %}
    {{ govukSummaryList({
        card: {
            title: {
                text: "Domestic details"
            },
            actions: {
                items: cardAction
            }
        },
        rows: [{
            key: {
                text: "Domestic status"
            },
            value: {
                text: contact.domesticStatusDescription,
                classes: 'confirm-domestic-value'
            }
        }]
    }) }}
{% endmacro %}