{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro language(contact, cardAction) %}
    {{ govukSummaryList({
        card: {
            title: {
                text: "Language details"
            },
            actions: {
                items: cardAction
            }
        },
        rows: [{
            key: {
                text: "Spoken language"
            },
            value: {
                text: contact.languageDescription if contact.languageDescription else 'Not provided',
                classes: 'confirm-spoken-language-value'
            }
        },
        {
            key: {
                text: "Needs interpreter"
            },
            value: {
                text: 'Yes' if contact.interpreterRequired == 'true' else 'No',
                classes: 'confirm-needs-interpreter-value'
            }
        }]
    }) }}
{% endmacro %}