{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro phoneDetails(contact, actionItems) %}
    {% set phoneNumbers = [] %}

    {% if contact.phoneNumbers and contact.phoneNumbers.length > 0 %}
        {% for item in contact.phoneNumbers %}
            {% set phoneNumbers = (
                phoneNumbers.push(
                    {
                        key: {
                            text: (item.phoneType | capitalizeFirstLetter)
                        },
                        value: { 
                            text: item.phoneNumber,
                            classes: 'confirm-' + item.phoneType + '-number-value'
                        }
                    }
            ), phoneNumbers) %}
        {% endfor %}
    {% endif %}

    {{ govukSummaryList({
        card: {
            title: {
                text: "Phone numbers"
            },
            actions: {
                items: actionItems
            }
        },
        rows: phoneNumbers
    }) }}
{% endmacro %}