{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro relationship(contact, cardAction) %}
    {{ govukSummaryList({
        card: {
            title: {
                text: "Relationship details"
            },
            actions: {
                items: cardAction
            }
        },
        rows: [{
            key: {
                text: "Relationship to prisoner"
            },
            value: {
                text: '',
                classes: 'confirm-relationship-value'
            }
        }]
    }) }}
{% endmacro %}