{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% for addressParam in params.addresses %}
    {% set addressItem = addressParam.address %}
    {% set addressRow = [] %}
    {% set addressSpecificPhoneNumbers = '' %}

    {% set addressChangeAction = {
        href: '/prisoner/' + params.prisonerNumber + '/contacts/manage/' + params.contactId + '/address/edit/' + addressParam.address.contactAddressId + '/start?returnUrl=' + params.returnUrl,
        text: "Change",
        visuallyHiddenText: " address",
        attributes: { 'data-qa': 'change-address-' + addressParam.address.contactAddressId },
        classes: 'govuk-link--no-visited-state'
    } if params.canEditAddresses %}

    {% if addressItem %}
        {%
            set address = {
                flat: addressItem.flat,
                premise: addressItem.property,
                street: addressItem.street,
                area: addressItem.area,
                city: addressItem.cityDescription,
                county: addressItem.countyDescription,
                postalCode: addressItem.postcode,
                country: addressItem.countryDescription
            }
        %}

        {% if addressItem.noFixedAddress %}
            {% set noFixedAddress = 'No fixed address, ' + addressItem.cityDescription + ', ' + addressItem.countryDescription %}
        {% endif %}

        {% set fromToDate %}
            {% if addressItem.startDate %}
                <p data-qa="confirm-start-date-value">From {{ (addressItem.startDate | formatDate('MMMM yyyy')) }}</p>
            {% endif %}
            {% if addressItem.endDate %}
                <p data-qa="confirm-end-date-value">To {{ (addressItem.endDate | formatDate('MMMM yyyy')) }}</p>
            {% endif %}
            {% if not addressItem.startDate and not addressItem.endDate  %}
                <p data-qa="from-to-date-not-provided">Not provided</p>
            {% endif %}
        {% endset -%}

        {% if addressParam.mostRelevantAddressLabel %}
            {% set addressRow = (
                addressRow.push(
                    {
                        key: {
                            text: addressParam.mostRelevantAddressLabel,
                            classes: 'govuk-!-font-weight-regular most-relevant-address-label'
                        },
                        classes: 'govuk-summary-list__row--no-border'
                    }
            ), addressRow) %}
        {% endif %}

        {% set addressRow = (
            addressRow.push(
                {
                    key: {
                        text: "Address"
                    },
                    value: {
                        html: (address | addressToLines) if not addressItem.noFixedAddress else noFixedAddress,
                        classes: 'confirm-address-value'
                    },
                    actions: { items:  [addressChangeAction] }
                }
        ), addressRow) %}

        {% if addressItem.phoneNumbers and addressItem.phoneNumbers.length > 0 %}
            {% for val in addressItem.phoneNumbers %}
                {% set addressRow = (
                    addressRow.push(
                        {
                            key: {
                                text: "Address phone" if loop.first
                            },
                            value: {
                                html:  (val.phoneTypeDescription) + ': ' + val.phoneNumber + (" (" + val.extNumber + ")" if val.extNumber),
                                classes: 'address-specific-phone-value address-' + addressItem.contactAddressId + '-specific-phone-value address-' + addressItem.contactAddressId + '-specific-phone-' + val.contactAddressPhoneId + '-value'
                            },
                            actions: {
                                items: [
                                    {
                                        href: '/prisoner/' + params.prisonerNumber + '/contacts/manage/' + params.contactId + '/address/' + addressParam.address.contactAddressId + '/phone/' + val.contactAddressPhoneId + '/edit?returnUrl=' + params.returnUrl,
                                        text: "Change",
                                        visuallyHiddenText: " phone number",
                                        attributes: { 'data-qa': 'change-address-specific-' + addressItem.contactAddressId + '-phone-' + val.contactAddressPhoneId },
                                        classes: 'govuk-link--no-visited-state'
                                    },
                                    {
                                        href: '/prisoner/' + params.prisonerNumber + '/contacts/manage/' + params.contactId + '/address/' + addressParam.address.contactAddressId + '/phone/' + val.contactAddressPhoneId + '/delete?returnUrl=' + params.returnUrl,
                                        text: "Delete",
                                        visuallyHiddenText: " phone number",
                                        attributes: { 'data-qa': 'delete-address-specific-' + addressItem.contactAddressId + '-phone-' + val.contactAddressPhoneId },
                                        classes: 'govuk-link--no-visited-state'
                                    }
                                ] if params.canEditAddresses
                            },
                            classes: ('govuk-summary-list__row--no-border') if not loop.last
                        }
                    ), addressRow) %}

            {% endfor %}
        {% else %}
            {% set addressRow = (
                addressRow.push(
                    {
                        key: {
                        text: "Address phone"
                    },
                        value: {
                        html: 'Not provided',
                        classes: 'address-specific-phone-numbers-not-provided'
                    }
                    }
                ), addressRow) %}
        {% endif %}

         {% if addressItem.comments %}
            {% set addressRow = (
                addressRow.push(
                    {
                        key: {
                            text: "Comments"
                        },
                        value: {
                            text: addressItem.comments,
                            classes: 'confirm-comments-value'
                        },
                        actions: { items:  [addressChangeAction] }
                    }
            ), addressRow) %}
        {% endif %}

        {% set addressRow = (
            addressRow.push(
                {
                    key: {
                        text: "Dates"
                    },
                    value: {
                        html: fromToDate
                    },
                    actions: { items:  [addressChangeAction] }
                }
        ), addressRow) %}
    {% endif %}

    {{ govukSummaryList({
        card: {
            title: {
                text: addressParam.cardTitle
            },
            actions: {
                items: addressParam.cardActions
            }
        },
        rows: addressRow
    }) }}

{% endfor %}