{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../partials/miniProfile/macro.njk" import miniProfile %}

{% set pageTitle = applicationName + " - Enter date of birth" %}
{% set title = "Do you know " + journey.names | formatNameFirstNameFirst + "'s date of birth?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{% include '../partials/addContactNavigation.njk' %}
{{ miniProfile(prisonerDetails) }}
{% include '../../../partials/formErrorSummary.njk' %}
<span class="govuk-caption-l">Contacts</span>
<h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
 <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% if validationErrors %}
                    {% set dayError = validationErrors['day'] if validationErrors['day'] else '' %}
                    {% set monthError = validationErrors['month'] if validationErrors['month'] else '' %}
                    {% set yearError = validationErrors['year']  if validationErrors['year'] else '' %}
                    {% set dobError = validationErrors['dob'] if validationErrors['dob'] else '' %}
                {% endif %}
                {% set dobHtml %}
                    {{ govukDateInput({
                        id: "dob",
                        fieldset: {
                            legend: {
                                text: "Date of birth",
                                classes: "govuk-visually-hidden"
                            }
                        },
                        hint: {
                            text: "For example, 15 6 2000"
                        },
                        errorMessage: {
                            html: '<span class="govuk-error-message">' + dayError + '</span>
                            <span class="govuk-error-message">' + monthError + '</span>
                            <span class="govuk-error-message">' + yearError + '</span>
                            <span class="govuk-error-message">' + dobError + '</span>'
                        } if dayError or monthError or yearError or dobError,
                        items: [
                            {
                                id: 'day',
                                label: 'Day',
                                name: "day",
                                classes: 'govuk-input--width-2' + (' govuk-input--error' if dayError or dobError),
                                value: day
                            },
                            {
                                id: 'month',
                                label: 'Month',
                                name: "month",
                                classes: 'govuk-input--width-2' + (' govuk-input--error' if monthError or dobError),
                                value: month
                            },
                            {
                                id: 'year',
                                label: 'Year',
                                name: "year",
                                classes: 'govuk-input--width-4' + (' govuk-input--error' if yearError or dobError),
                                value: year
                            }
                        ]
                    }) }}

                {% endset %}
                {{ govukRadios({
                    name: "isKnown",
                    items: [
                        {
                            value: 'YES',
                            text: 'Yes',
                            checked: isKnown === 'YES',
                            conditional: {
                                html: dobHtml
                            }
                        },
                        {
                            value: 'NO',
                            text: "No, I don’t know it",
                            checked: isKnown === 'NO'
                        }
                    ],
                    errorMessage: validationErrors | findError('isKnown')
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        html: "Continue",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"}
                    }) }}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ journey.returnPoint.url }}" data-qa="cancel-button">Cancel</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}