{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "./notProvided.njk" import notProvided %}
{% from "../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "./addressesMacro.njk" import addressDetails %}

{% set pageTitle = applicationName + " - Select next of kin" %}
{% set title = "Addresses for " + journey.names | formatNameFirstNameFirst  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    {% include '../../../partials/navigation.njk' %}
    {{ miniProfile(prisonerDetails) }}
    {% include '../../../partials/formErrorSummary.njk' %}
    {% include '../../../partials/successNotificationBanner.njk' %}
<span class="govuk-caption-l">Manage Contacts</span>
<h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
    {% set returnUrl = '/prisoner/' + prisonerNumber + '/contacts/manage/' + contactId + '/relationship/' + prisonerContactId + '/view-addresses' %}
    <div class="govuk-button-group">
        {{ govukButton({
            html: "Add address",
            type: "button",
            attributes: {"data-qa": "add-address-button"},
            href: '/prisoner/' + prisonerNumber + '/contacts/manage/' + contactId + '/address/add/start?returnUrl=' + returnUrl,
            preventDoubleClick: true
        }) }}
    </div>
 <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

        {% if addresses %}
            {{ addressDetails({
                returnUrl: returnUrl,
                prisonerNumber: prisonerNumber,
                contactId: contactId,
                addresses: addresses
            } ) }}
        {% else %}
            {{ notProvided({title: 'Addresses', key: 'Address', className: 'addresses-not-provided' }) }}
        {% endif %}

        </div>
    </div>

{% endblock %}