{% extends "../../../../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Enter spoken language" %}
{% set title = "What is the spoken language of " + contact | reverseFormatName + "?" %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: '/contacts/manage/' + prisonerDetails.prisonerNumber + '/' + contact.id + '/' + journey.id,
    attributes: {"data-qa": "back-link"}
}) }}

{{ miniProfile(prisonerDetails) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-l">Manage Contacts</span>
        <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
        <form method='POST'>
             <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
             {% set languages = [{
                value: '',
                text: 'Select',
                selected: true
             }] %}

             {% for item in language %}
                {% set languages = (languages.push(
                    {
                        value: item.nomisCode,
                        text: item.nomisDescription,
                        selected: true if contact.languageCode == item.nomisCode else false
                    }
                ), languages) %}
             {% endfor %}

             {{ govukSelect({
                id: "languageCode",
                name: "languageCode",
                items: languages
            }) }}
            <div class="govuk-button-group">
                {{ govukButton({
                    html: "Save and Continue",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: {"data-qa": "continue-button"}
                }) }}
                <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/contacts/manage/{{prisonerDetails.prisonerNumber}}/{{contact.id}}" data-qa="cancel-button">Cancel</a>
            </div>
        </form>
     </div>
</div>
{% endblock %}