{% extends "partials/layout.njk" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}

{% set title = "Enter additional information about " + journey.names | formatNameFirstNameFirst + " (optional)"%}
{% set pageTitle = "Enter additional information about the contact - Add a contact - DPS" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% include 'partials/navigation.njk' %}
  {{ miniProfile(prisonerDetails) }}
  {% include 'partials/formErrorSummary.njk' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>
      <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
      <form method='POST'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <h2>Contact methods</h2>
        {{ govukTaskList({
          idPrefix: "contact-methods",
          items: [
            {
              title: {
                text: "Addresses"
              },
              href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/addresses/" + journey.id,
              status: journey.addresses | taskStatus
            },
            {
              title: {
                text: "Phone numbers"
              },
              href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/add-phone-numbers/" + journey.id,
              status: journey.phoneNumbers | taskStatus
            },
            {
              title: {
              text: "Email addresses"
            },
              href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/emails/" + journey.id,
              status: journey.emailAddresses | taskStatus
            }
          ]
        }) }}

        {% if journey.relationship.relationshipType === 'O' %}
          <h2>Professional information</h2>
          {{ govukTaskList({
            idPrefix: "employments",
            items: [
              {
                title: {
                  text: "Employers"
                },
                href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/employments/" + journey.id,
                status: journey.employments | taskStatus
              }
            ]
          }) }}
        {% endif %}

        <h2>More details about the contact</h2>
        {{ govukTaskList({
          idPrefix: "more-details",
          items: [
            {
              title: {
                text: "Comments on their relationship with " + prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)
              },
              href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/enter-relationship-comments/" + journey.id,
              status: journey.relationship.comments | taskStatus
            },
            {
              title: {
                text: "Domestic status"
              },
              href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/domestic-status/" + journey.id,
              status: journey.domesticStatusCode | taskStatus
            },
            {
              title: {
                text: "Gender"
              },
              href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/enter-gender/" + journey.id,
              status: journey.gender | taskStatus
            },
            {
              title: {
                text: "Identity documents"
              },
              href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/identities/" + journey.id,
              status: journey.identities | taskStatus
            },
            {
              title: {
                text: "If the contact is a member of staff"
              },
              href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/is-staff/" + journey.id,
              status: journey.isStaff | taskStatus
            },
            {
              title: {
                text: "Language and interpretation requirements"
              },
              href: "/prisoner/" + journey.prisonerNumber + "/contacts/create/language-and-interpreter/" + journey.id,
              status: journey.languageAndInterpreter | taskStatus
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit",
            classes: 'govuk-!-margin-top-6',
            attributes: {"data-qa": "continue-button"},
            preventDoubleClick: true
          }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
