{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "../../../partials/miniProfile/macro.njk" import miniProfile %}

{% set pageTitle = applicationName + " - Select next of kin" %}
{% set title = "Add additional information about the relationship between the prisoner and " + journey.names | formatNameLastNameFirst  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{% include '../partials/addContactNavigation.njk' %}
{{ miniProfile(prisonerDetails) }}
{% include '../../../partials/formErrorSummary.njk' %}
<span class="govuk-caption-l">Manage Contacts</span>
<h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
 <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukCharacterCount({
                    name: "comments",
                    id: "comments",
                    maxlength: 240,
                    value: comments,
                    errorMessage: validationErrors | findError('comments')
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        html: "Continue",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"}
                    }) }}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ journey.returnPoint.url }}" data-qa="cancel-button">Cancel</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}