{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../partials/miniProfile/macro.njk" import miniProfile %}

{% set pageTitle = applicationName + " - Select next of kin" %}
{% set title = "Is " + journey.names | formatNameFirstNameFirst + " next of kin for the prisoner?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{% include '../../../partials/navigation.njk' %}
{{ miniProfile(prisonerDetails) }}
{% include '../../../partials/formErrorSummary.njk' %}
<span class="govuk-caption-l">Contacts</span>
<h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
 <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukRadios({
                    name: "isNextOfKin",
                    items: [
                        {
                            value: 'YES',
                            text: 'YES' | formatYesNo,
                            checked: isNextOfKin === 'YES'
                        },
                        {
                            value: 'NO',
                            text: 'NO' | formatYesNo,
                            checked: isNextOfKin === 'NO'
                        }
                    ],
                    errorMessage: validationErrors | findError('isNextOfKin')
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        html: "Continue",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ journey.returnPoint.url }}" data-qa="cancel-button">Cancel</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}