{% extends "partials/layout.njk" %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create contact phone number" %}
{% set title = "What is the phone number for this address?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    {% include 'partials/navigation.njk' %}
    {{ miniProfile(prisonerDetails) }}
    {% include 'partials/formErrorSummary.njk' %}
    <span class="govuk-caption-l">Contacts</span>
    <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
    {% set formattedAddress= {
        flat: address.flat,
        premise: address.property,
        street: address.street,
        area: address.area,
        city: address.cityDescription,
        county: address.countyDescription,
        postalCode: address.postcode,
        country: address.countryDescription
    } %}
    <p data-qa="address-reference">
        {{ formattedAddress | addressToLines | safe }}
    </p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukInput({
                    id: "phoneNumber",
                    name: "phoneNumber",
                    label: { text: "Phone number" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('phoneNumber'),
                    value: phoneNumber
                }) }}

                {{ govukSelect({
                    id: "type",
                    name: "type",
                    label: {
                        text: "Type"
                    },
                    items: typeOptions | referenceCodesToSelect('') | setSelected(type),
                    errorMessage: validationErrors | findError('type')
                }) }}

                {{ govukInput({
                    id: "extension",
                    name: "extension",
                    label: { text: "Extension" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('extension'),
                    value: extension
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm and save",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.backLink }}" data-qa="cancel-button">Cancel</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
