{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Update an email address for the contact - Edit contact methods - DPS" %}
{% set title = "Update an email address for " + (contact | formatNameFirstNameFirst) %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Edit contact methods</span>
            <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% for other in otherEmailAddresses  %}
                  <input type="hidden" name="otherEmailAddresses[{{ loop.index0 }}]" value="{{ other }}" />
                {% endfor %}

                {{ govukInput({
                    id: "emailAddress",
                    name: "emailAddress",
                    label: { text: "Email address" },
                    errorMessage: validationErrors | findError('emailAddress'),
                    value: emailAddress
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm and save",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                    {% if navigation.cancelButton %}
                      <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
                    {% endif %}
                </div>
            </form>

        </div>
    </div>

{% endblock %}
