{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Update a phone number for the contact - Edit contact methods - DPS" %}
{% set title = "Update a phone number for " + (contact | formatNameFirstNameFirst) %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Edit contact methods</span>
            <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                  id: "type",
                  name: "type",
                  label: {
                    text: "Phone number type"
                  },
                  classes: 'govuk-!-width-one-quarter',
                  items: typeOptions | referenceCodesToSelect(undefined, true) | setSelected(type),
                  errorMessage: validationErrors | findError('type')
                }) }}

                {{ govukInput({
                    id: "phoneNumber",
                    name: "phoneNumber",
                    label: { text: "Phone number" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('phoneNumber'),
                    value: phoneNumber
                }) }}

                {{ govukInput({
                    id: "extension",
                    name: "extension",
                    label: { text: "Extension (optional)" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('extension'),
                    value: extension
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm and save",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                  {% if navigation.cancelButton %}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
                  {% endif %}
                </div>
            </form>

        </div>
    </div>

{% endblock %}
