{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitle = "What’s the name of the contact you want to link to the prisoner? - Add a contact - DPS" %}
{% set title = "What’s the name of the contact you want to link to " + prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true) + "?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ caption }}</span>
            <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                    id: "title",
                    name: "title",
                    label: {
                        text: "Title (optional)"
                    },
                    items: titleOptions | referenceCodesToSelect('') | setSelected(titleCode)
                }) }}

                {{ govukInput({
                    id: "firstName",
                    name: "firstName",
                    label: { text: "First name" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('firstName'),
                    value: firstName
                }) }}

                {{ govukInput({
                    id: "middleNames",
                    name: "middleNames",
                    label: { text: "Middle names (optional)" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('middleNames'),
                    value: middleNames
                }) }}

                {{ govukInput({
                    id: "lastName",
                    name: "lastName",
                    label: { text: "Last name" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('lastName'),
                    value: lastName
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>

        </div>
    </div>

{% endblock %}
