{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro prisonerContactSummaryTable(opts) %}

  {% set contacts = opts.contacts %}
  {% set user = opts.user %}
  {% set prisonerNumber = opts.prisonerNumber %}
  {% set sort = opts.sort %}
  {% set sortQueryParams = opts.sortQueryParams %}


  {% set rows = [] %}
  {% for contact in contacts %}
    {% set contactNameAndNumber %}
      {% if user | isGranted(PersonalRelationshipsPermission.edit_contacts, prisonerPermissions) %}
        <a href="/prisoner/{{ prisonerNumber }}/contacts/manage/{{ contact.contactId }}/relationship/{{ contact.prisonerContactId }}"
           data-qa="contact-{{ contact.contactId }}-link"
           class="govuk-link--no-visited-state pcl-contact-name-link">{{ contact | formatNameLastNameFirst }}</a>
      {% else %}
        <span class="read-only-contact-name">{{ contact | formatNameLastNameFirst }}</span>
      {% endif %}
      <br />
      <span class="govuk-hint">{{ contact.contactId }}</span>
      {% if contact.isEmergencyContact %}<p class="emergency-contact-tag govuk-!-margin-top-1">Emergency contact</p>{% endif %}
      {% if contact.isNextOfKin %}<p class="next-of-kin-tag {{ 'govuk-!-margin-top-1' if not contact.isEmergencyContact }}">Next of kin</p>{% endif %}
    {% endset %}

    {% set relationshipHtml %}
      {% if not contact.isRelationshipActive %}Inactive relationship: {% endif %}{{ contact.relationshipToPrisonerDescription }}
      {% if contact.isStaff %}<br/><span class="govuk-hint">(Staff)</span>{% endif %}
    {% endset %}

    {% set restrictionsHtml %}
      {% set restrictionSummary = contact.restrictionSummary %}
      {% if restrictionSummary.totalActive === 0 and restrictionSummary.totalExpired === 0 %}
        No restrictions
      {% elseif restrictionSummary.totalActive > 0 %}
        {% for restriction in restrictionSummary.active | sort(attribute = 'restrictionTypeDescription') %}
          {{ govukTag({ text: restriction.restrictionTypeDescription, classes: 'govuk-!-margin-top-1 govuk-!-margin-bottom-1 ' + restriction.restrictionType | restrictionTagColour }) }}
          {% if not loop.last %}<br/>{% endif %}
        {% endfor %}
      {% else %}
        No active restrictions
      {% endif %}
      {% if restrictionSummary.totalExpired > 0 %}
        <br> <span class="govuk-hint">(Contact {{ 'also ' if restrictionSummary.totalActive > 0}}has {{ restrictionSummary.totalExpired }} expired restriction{{ 's' if restrictionSummary.totalExpired !== 1 }})</span>
      {% endif %}
    {% endset %}

    {% set classes = 'light-grey govuk-!-padding-top-3 govuk-!-padding-bottom-3 max-200-width' if not contact.isRelationshipActive else 'govuk-!-padding-top-3 govuk-!-padding-bottom-3 max-200-width' %}
    {% set rows = (rows.push([
      { html: contactNameAndNumber, classes: classes + ' govuk-!-padding-left-1'},
      { text: contact | formatAge, classes: classes },
      { html: relationshipHtml, classes: classes },
      { html: (contact | coarseAddressToLines or 'Not provided') | escape | nl2br, classes: classes },
      { text: 'Approved' if contact.isApprovedVisitor else 'Not approved or has not been checked', classes: classes },
      { html: restrictionsHtml, classes: classes + ' govuk-!-padding-right-1' }
    ]), rows) %}
  {% endfor %}

  {% set headings =  [
    {
      text: "Contact name and person ID",
      key: 'name'
    },
    {
      text: "Age",
      key: 'age'
    },
    {
      text: "Relationship to prisoner"
    },
    {
      text: "Location"
    },
    {
      text: "Visits approval status"
    },
    {
      text: "Relationship and global restrictions"
    }
  ] %}

  {% if sort %}
    {% set headings = headings | convertToSortableColumns(sort, '?' + sortQueryParams + '&sort={sortKey},{sortDirection}') %}
  {% endif %}

  {{ govukTable({
    firstCellIsHeader: false,
    classes: 'govuk-!-margin-top-6',
    attributes: { id: 'prisoner-contact-list' },
    head: headings,
    rows: rows
  }) }}

{% endmacro %}
