{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Delete contact email address" %}
{% set title = "Are you sure you want to delete this email address?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    {% include '../../../partials/navigation.njk' %}
    {{ miniProfile(prisonerDetails) }}
    <span class="govuk-caption-l">Contacts</span>
    <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                                text: "Email address"
                            },
                            value: {
                                html: email.emailAddress,
                                classes: 'email-value'
                            }
                        }
                    ]
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Yes, delete",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6 govuk-button--warning',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                    {{ govukButton({
                        text: "No, do not delete",
                        type: "button",
                        classes: 'govuk-!-margin-top-6 govuk-button--secondary',
                        attributes: {"data-qa": "cancel-button"},
                        href: navigation.cancelButton,
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>

        </div>
    </div>

{% endblock %}
