{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "partials/validatedDateInput/macro.njk" import validatedDateInput %}
{% from "partials/simplePagination/macro.njk" import simplePagination %}
{% from "../partials/addPagination.njk" import addPagination %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set pageTitle = "Check if the contact is already on the system - Manage contacts - DPS" %}
{% set title = "Check if the contact is already on the system" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-static-margin-bottom-7">
        <span class="govuk-caption-l">Link a contact to a prisoner</span>
        <h1 class="govuk-heading-l">{{ title }}</h1>
      </div>
      {{ govukWarningText({
        html: 'Duplicate contact records are a safety and security risk. You should only <a href="/prisoner/' + prisonerDetails.prisonerNumber + '/contacts/add/mode/NEW/' + journey.id + '" class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">add a new contact</a> if you cannot find the person on the system.',
        iconFallbackText: "Warning"
      }) }}
    </div>
  </div>
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="block-background govuk-!-padding-6 govuk-!-margin-bottom-7">
        <div class="moj-search govuk-!-width-three-quarters">
          <h2 class="govuk-heading-m">Search by contact name</h2>
          <form class="contact-search" method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukInput({
              classes: "moj-search__input",
              id: "firstName",
              name: "firstName",
              value: firstName,
              label: {
                text: 'First name (optional)'
              }
            }) }}

            {{ govukInput({
              id: "middleNames",
              name: "middleNames",
              label: { text: "Middle names (optional)" },
              value: middleNames
            }) }}

            {{ govukInput({
              id: "lastName",
              name: "lastName",
              label: { text: "Last name" },
              value: lastName
            }) }}

            {{ govukButton({
              classes: "moj-search__button",
              text: "Search",
              attributes: {"data-qa": "search-button"},
              preventDoubleClick: true
            }) }}
          </form>
          {% set advancedSearchInstructions %}
            <div class="govuk-!-width-three-quarters">
              <p class="govuk-body">This service currently allows search by name or partial name, with filtering by exact date of birth. </p>
              <p class="govuk-body">You still need to use NOMIS for advanced search and filters such as:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>‘sounds like’ name search</li>
                <li>identity document search</li>
                <li>person ID search (the unique number given to each contact record)</li>
                <li>filter by gender</li>
                <li>filter by year of birth and a range of years either side of that date</li>
              </ul>
            </div>
          {% endset %}
          {{ govukDetails({
            classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0",
            summaryText: "How to use advanced search and filters",
            html: advancedSearchInstructions
          }) }}
        </div>
      </div>

      <div class="moj-filter-layout contact-search-filter">
        {% if lastName %}
          <form class="moj-filter-layout__filter" method='POST'>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            {{ mojFilter({
              heading: {
                text: "Filter"
              },
              submit:{
                text: "Apply filter"
              },
              selectedFilters: {
                heading: {
                  text: "Selected filter"
                },
                clearLink: {
                  href: "?clear=filter",
                  text: "Clear filter"
                },
                categories: [
                  {
                    heading: {
                    text: "Date of birth"
                  },
                    items: [{
                    href: "?clear=filter",
                    text: filter
                  }]
                  }
                ]
              } if filter else undefined,
              optionsHtml: validatedDateInput({
                id: "dob",
                title: {
                  text: "Date of birth",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                },
                hintText: "For example, 27 3 1980.",
                validationErrors: validationErrors,
                day: day,
                month: month,
                year: year
              })
            }) }}
          </form>
        {% endif %}

        <div class="moj-filter-layout__content">
          {% if lastName %}
            <div class="moj-action-bar"><div class="moj-action-bar__filter"></div></div>
          {% endif %}

          {% if results.content.length %}
            <div id="pagination" class="contact-search-pagination">{{ simplePagination(paginationParams)  }}</div>
          {% endif %}
          {% if results.content.length %}
            {% set contactRows = [] %}
            {% for contact in results.content %}
              {% set hasExistingRelationships = contact.existingRelationships and contact.existingRelationships.length > 0  %}
              {% set contactRows = (contactRows.push([
                {
                  html: (contact | formatNameLastNameFirst) + '<br/><span class="govuk-hint">' + contact.id + '</span>',
                  classes: 'no-bottom-border' if hasExistingRelationships else ''
                },
                {
                  html: contact | formatDob,
                  classes: 'no-bottom-border' if hasExistingRelationships else ''
                },
                {
                  html: (contact | addressToLines or 'Not provided') | escape | nl2br,
                  classes: 'no-bottom-border' if hasExistingRelationships else ''
                },
                {
                  html: '<a href="/prisoner/' + prisonerDetails.prisonerNumber + '/contacts/add/match/' + contact.id + '/' + journey.id + '" class="govuk-link" data-qa="add-contact-' + contact.id + '-link">Check if this is the correct contact</a>',
                  format: "numeric",
                  classes: 'no-bottom-border' if hasExistingRelationships else ''
                }
              ]), contactRows) %}
              {% if hasExistingRelationships %}
                {% set reviewUrl = '/prisoner/' + prisonerDetails.prisonerNumber + '/contacts/create/review-existing-relationships/' + contact.id + '/' + journey.id %}
                {% set alertHtml %}
                  {{ mojAlert({
                    variant: "information",
                    title: (contact | formatNameFirstNameFirst) + ' (' + contact.id + ') is already linked to the prisoner',
                    dismissible: false,
                    html: (contact | formatNameFirstNameFirst) + ' (' + contact.id + ') is already linked to prisoner ' + (prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true)) + '. <br/><a href="' + reviewUrl + '" class="govuk-link">View existing record' +  ('s' if contact.existingRelationships.length > 1) + '</a>',
                    classes: 'govuk-!-margin-bottom-0'
                  }) }}
                {% endset %}
                {% set contactRows = (contactRows.push([
                  {
                    html: alertHtml | safe,
                    colspan: 4,
                    classes: 'no-top-border'
                  }
                ]), contactRows) %}
              {% endif %}
            {% endfor %}

            {{ govukTable({
              firstCellIsHeader: false,
              classes: 'table-vertical-align-middle govuk-!-margin-top-6',
              head: [
                {
                  text: 'Contact name and person ID',
                  key: 'lastName'
                },
                {
                  text: "Date of birth",
                  key: 'dateOfBirth'
                },
                {
                  text: "Primary or default address"
                },
                {
                  text: "Action",
                  format: "numeric"
                }
              ] | convertToSortableColumns(sort or 'lastName,asc'),
              rows: contactRows
            }) }}
          {% else %}
            {% if dobError %}
              <div class="govuk-body govuk-!-margin-bottom-6">
                <p><strong>There is a problem with the date of birth filter.</strong></p>
                <p>You can either:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>correct the problem and apply the filter again</li>
                  <li>clear the filter and return to your search results</li>
                </ul>
              </div>
            {% elseif not results %}
              <p class="govuk-!-margin-bottom-6"><strong>Start a search to view contact records.</strong></p>
            {% else %}
              <div class="govuk-body govuk-!-margin-bottom-6">
                <p><strong>No contact records match your search.</strong></p>
                <p>You can:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>try searching again</li>
                  <li><a href="/prisoner/{{ prisonerDetails.prisonerNumber }}/contacts/add/mode/NEW/{{ journey.id }}" class="govuk-body govuk-link govuk-link--no-visited-state">add a new contact</a> if you cannot find the person on the system</li>
                </ul>
              </div>
            {% endif %}

          {% endif %}

          {% if results.content.length %}
            <div class="contact-search-pagination">{{ simplePagination(paginationParams) }}</div>
          {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}
    <script nonce="{{ cspNonce }}">
      window.onload = function () {
        const filter = document.querySelector('[data-module="moj-filter"]')
        filter && new window.MojFrontend.FilterToggleButton(filter, {
          bigModeMediaQuery: '(min-width: 48.063em)',
          startHidden: false,
          toggleButton: {
            showText: 'Show filter',
            hideText: 'Hide filter',
            classes: 'govuk-button--secondary'
          },
          toggleButtonContainer: { selector: '.moj-action-bar__filter' },
          closeButton: { text: 'Close' },
          closeButtonContainer: { selector: '.moj-filter__header-action' }
        })
      }
    </script>
{% endblock %}
