{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create Identity number" %}
{% set title = "Update an identity document for " + (contact | formatNameFirstNameFirst) %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    {% include '../../../partials/navigation.njk' %}
    {{ miniProfile(prisonerDetails) }}
    {% include '../../../partials/formErrorSummary.njk' %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Edit identity documentation for a contact</span>
          <h1 class="govuk-heading-l" data-qa="main-heading">{{ title }}</h1>
            <form method='POST'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                  id: "type",
                  name: "type",
                  label: {
                    text: "Document type"
                  },
                  classes: 'govuk-!-width-one-quarter',
                  items: typeOptions | referenceCodesToSelect(undefined, true) | setSelected(type),
                  errorMessage: validationErrors | findError('type')
                }) }}

                {{ govukInput({
                    id: "identity",
                    name: "identity",
                    label: { text: "Document number" },
                    classes: 'govuk-!-width-one-third',
                    errorMessage: validationErrors | findError('identity'),
                    value: identity
                }) }}

                {{ govukInput({
                    id: "issuingAuthority",
                    name: "issuingAuthority",
                    label: { text: "Issuing authority (optional)" },
                    classes: 'govuk-!-width-one-half',
                    errorMessage: validationErrors | findError('issuingAuthority'),
                    value: issuingAuthority
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm and save",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: {"data-qa": "continue-button"},
                        preventDoubleClick: true
                    }) }}
                    {% if navigation.cancelButton %}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="{{ navigation.cancelButton }}" data-qa="cancel-button">Cancel</a>
                    {% endif %}
                </div>
            </form>

        </div>
    </div>

{% endblock %}
