{% extends "../../../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "../../../partials/address.njk" import convertAddressToLines %}

{% set pageTitle = applicationName + " - List contacts" %}
{% set title = "List contacts" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-full">
        {% set breadcrumbs = [
            {
                text: "Digital Prison Services",
                href: DPS_HOME_PAGE_URL
            },
            {
                text: "Contacts",
                href: "/"
            }
        ] %}
        {% if journey %}
            {% set searchLink = "/contacts/manage/prisoner-search/" + journey.id %}
            {% set backLinkHref = "/contacts/manage/prisoner-search-results/" + journey.id %}
            {% set breadcrumbs = (breadcrumbs.push(
                { text: "Search", href: searchLink },
                { text: "Results", href: backLinkHref }
            ), breadcrumbs) %}
        {%  endif %}
        {{ govukBreadcrumbs({
            items: breadcrumbs
        }) }}
    </div>
</div>

{{ miniProfile(prisonerDetails) }}

{% macro createTable(contactsList) %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Date of birth</th>
            <th scope="col" class="govuk-table__header">Address</th>
            <th scope="col" class="govuk-table__header">Relationship to prisoner</th>
            <th scope="col" class="govuk-table__header">Emergency contact</th>
            <th scope="col" class="govuk-table__header">Next of kin</th>
            <th scope="col" class="govuk-table__header">Approved</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for item in contactsList %}
        {% 
            set address = { 
                flat: item.flat,
                premise: item.property,
                street: item.street,
                area: item.area,
                city: item.cityDescription,
                county: item.countyDescription,
                postalCode: item.postCode,
                country: item.countryDescription
            }
        %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='#'>{{ item.lastName }}, {{ item.firstName }}</a></td>
            <td class="govuk-table__cell"  data-qa="contact-{{ item.prisonerContactId }}-dob">
                {% if item.dateOfBirth %}
                    {{ item.dateOfBirth | formatDate }}<br />
                    ({{ item.dateOfBirth | getFormatDistanceToNow }} old)
                {% else %}
                    Not provided
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {{ convertAddressToLines(address) }}
            </td>
            <td class="govuk-table__cell">{{ item.relationshipDescription }}</td>
            <td class="govuk-table__cell">{{ 'Yes' if item.emergencyContact else 'No' }}</td>
            <td class="govuk-table__cell">{{ 'Yes' if item.nextOfKin else 'No'}}</td>
            <td class="govuk-table__cell">{{ 'Yes' if item.approvedVisitor else 'No'}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro createTablePagination(results, section) %}
    {% if results.totalPages > 1 %}
        {% set paginationItems = [] %}
        {% for i in range(0, results.totalPages) %}
            {% if i === 0 or i === (results.totalPages - 1) or (i >= results.number - 1 and i <= results.number + 1) %}
                {% set paginationItems = (paginationItems.push(
                    {
                        number: i + 1,
                        href: "?page=" + i + '&tab=' + section + '#' + section,
                        current: (i === results.number),
                        attributes: {"data-qa": "page-" + i + "-link"}
                    }
                ), paginationItems) %}
                {% elif i === 1 or i === results.totalPages - 2 %}
                {% set paginationItems = (paginationItems.push({ ellipsis: true }), paginationItems) %}
            {% endif %}
        {% endfor %}

        {{ govukPagination({
            previous: {
                href: "?page=" + (results.number - 1) + '&tab=' + section + '#' + section,
                attributes: {"data-qa": "pagination-previous-link"}
            } if not results.first,
            next: {
                href: "?page=" + (results.number + 1) + '&tab=' + section + '#' + section,
                attributes: {"data-qa": "pagination-next-link"}
            } if not results.last,
            items: paginationItems
        }) }}
    {% endif %}
{% endmacro %}

{% macro showingResults(results) %}
    {% if results.totalElements > 0 %}
        {% set resultString = 'result' if results.totalElements === 1 else 'results' %}
        <p class="govuk-grid-column-full govuk-body govuk-!-margin-top-2">
            Showing {{ results.totalElements }} {{ resultString }}{{ (" (page " + (results.number + 1) + " of " + results.totalPages + ")") if results.totalPages > 1 }}
        </p>
    {% endif %}
{% endmacro %}


{% macro prisonerDoesNotHaveAnyContactsMessage(prisonerDetails, contactListType) %}
    <p>{{ prisonerDetails.firstName | convertToTitleCase }} {{ prisonerDetails.lastName | convertToTitleCase }} does not have any {{ contactListType }} contacts</p>
{% endmacro %}

<span class="govuk-caption-l">Manage Contacts</span>
<h1 class="govuk-heading-l">Contacts for {{ prisonerDetails | formatName(excludeMiddleNames = true) }}</h1>

    {{ govukButton({
        text: "Add prisoner contact",
        href: "/prisoner/" + prisonerNumber + "/contacts/create/start",
        attributes: {"data-qa": "add-contact-button"}
    }) }}

<div class="govuk-tabs contact-list" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="{{ 'govuk-tabs__list-item govuk-tabs__list-item--selected' if tab === 'active-contacts' else 'govuk-tabs__list-item' }}" data-qa="active-list">
        <a class="govuk-tabs__tab" href="#active-contacts">
            Active contacts
        </a>
      </li>
      <li class="{{ 'govuk-tabs__list-item govuk-tabs__list-item--selected' if tab === 'inactive-contacts' else 'govuk-tabs__list-item' }}" data-qa="inactive-list">
        <a class="govuk-tabs__tab" href="#inactive-contacts">
            Inactive contacts
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="active-contacts">
        {% if activeContacts.content.length > 0 %}
            {{ createTable(activeContacts.content) }}
            {{ createTablePagination(activeContacts, 'active-contacts') }}
            {{ showingResults(activeContacts) }}
        {% else %}
        <div class="govuk-!-static-margin-top-4">{{ prisonerDoesNotHaveAnyContactsMessage(prisonerDetails, 'active') }}</div>
        {% endif %}
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden contact-list" id="inactive-contacts">
        {% if inactiveContacts.content.length > 0 %}
            {{ createTable(inactiveContacts.content) }}
            {{ createTablePagination(inactiveContacts, 'inactive-contacts') }}
            {{ showingResults(inactiveContacts) }}
        {% else %}
            <div class="govuk-!-static-margin-top-4">{{ prisonerDoesNotHaveAnyContactsMessage(prisonerDetails, 'inactive') }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}