{% extends "../../../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/simplePagination/macro.njk" import simplePagination %}
{% from "partials/contactDetails/prisonerContactSummaryTable.njk" import prisonerContactSummaryTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageTitle = "View and manage contacts linked to a prisoner - DPS" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="moj-page-header-actions contact-record-banner-bottom">
    <div class="moj-page-header-actions__title">
      {% if user | hasPermission('MANAGE_CONTACTS') %}
        <h1 class="govuk-heading-l">View and manage contacts linked to {{ prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true) }}</h1>
      {% else %}
        <h1 class="govuk-heading-l">View contacts linked to {{ prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true) }}</h1>
      {% endif %}
    </div>
    <div class="moj-page-header-actions__actions">
      <div class="moj-button-group moj-button-group--inline">
        {% if user | hasPermission('MANAGE_CONTACTS') %}
        {{ govukButton({
          text: "Link another contact" if hasAnyContactsAtAll else "Link contact",
          href: "/prisoner/" + prisonerNumber + "/contacts/create/start",
          attributes: {"data-qa": "add-contact-button"},
          preventDoubleClick: true
        }) }}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="govuk-grid-row prisoner-contact-filter govuk-!-margin-left-0 govuk-!-margin-right-0">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-s">Filter by</h2>
    </div>
    <form method='POST'>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <div class="govuk-grid-column-one-quarter">
      {{ govukRadios({
        name: "relationshipStatus",
        fieldset: {
          legend: {
            text: 'Relationship status'
          }
        },
        items: [
          {
            value: 'ACTIVE_ONLY',
            text: 'Active only',
            checked: relationshipStatus !== 'ACTIVE_AND_INACTIVE'
          },
          {
            value: 'ACTIVE_AND_INACTIVE',
            text: 'Active and inactive',
            checked: relationshipStatus === 'ACTIVE_AND_INACTIVE'
          }
        ],
        classes: "govuk-radios--small"
      }) }}
      </div>
      <div class="govuk-grid-column-one-quarter">
      {{ govukCheckboxes({
        name: "relationshipType",
        fieldset: {
          legend: {
            text: 'Relationship type'
          }
        },
        items: [
          {
            value: "O",
            text: "Official",
            id: 'relationshipTypeOfficial'
          },
          {
            value: "S",
            text: "Social",
            id: 'relationshipTypeSocial'
          }
        ] | setChecked(relationshipType),
        classes: "govuk-checkboxes--small"
      }) }}
      </div>

      <div class="govuk-grid-column-one-quarter">
        {{ govukCheckboxes({
          name: "flag",
          fieldset: {
            legend: {
              text: 'Flags'
            }
          },
          items: [
            {
              value: "EC",
              text: "Emergency contact",
              id: 'flagsEmergencyContact'
            },
            {
              value: "NOK",
              text: "Next of kin",
              id: 'flagsNextOfKin'
            }
          ] | setChecked(flag),
          classes: "govuk-checkboxes--small"
        }) }}
      </div>

      <div class="govuk-button-group govuk-grid-column-one-quarter">
        {{ govukButton({
          text: "Apply filters",
          type: "submit",
          attributes: {"data-qa": "apply-filter-button"},
          preventDoubleClick: true
        }) }}
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/prisoner/{{ prisonerDetails.prisonerNumber }}/contacts/list" data-qa="clear-button">Clear filters</a>
      </div>
    </form>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
      {% if contacts.length > 0 %}
        {{ simplePagination(paginationParams) }}

        {{ prisonerContactSummaryTable({
          contacts: contacts,
          prisonerNumber: prisonerNumber,
          sort: sort,
          sortQueryParams: queryParamsWithFilters,
          user: user
        }) }}

        {{ simplePagination(paginationParams) }}
      {% else %}
        <div data-qa="no-results-content">
        {% if not hasAnyContactsAtAll %}
          <p class="govuk-body">{{ prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true) }} does not have any linked contacts.</p>
          {% if user | hasPermission('MANAGE_CONTACTS') %}
            <a href="/prisoner/{{ prisonerDetails.prisonerNumber }}/contacts/create/start" class="govuk-body govuk-link--no-visited-state" data-qa="no-results-link-a-contact">Link a contact to this prisoner</a>
          {% endif %}
        {% elseif not hasAnyFiltersApplied %}
          <p class="govuk-body">{{ prisonerDetails | formatNameFirstNameFirst(excludeMiddleNames = true) }} does not have any contacts with active relationship status.</p>
          <a href="/prisoner/{{ prisonerDetails.prisonerNumber }}/contacts/list?relationshipStatus=ACTIVE_AND_INACTIVE" class="govuk-body govuk-link--no-visited-state" data-qa="no-results-include-inactive">View contacts with inactive relationship status</a>
        {% else %}
          <h2 class="govuk-heading-l govuk-!-font-size-24 govuk-!-margin-bottom-3">No contact records match your filter</h2>
          <p class="govuk-body">You can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>change the filters and apply them again</li>
            <li><a href="/prisoner/{{ prisonerDetails.prisonerNumber }}/contacts/list" class="govuk-body govuk-link--no-visited-state" data-qa="no-results-clear-filters">clear the filters</a> to view all the prisoner’s contacts</li>
            {% if user | hasPermission('MANAGE_CONTACTS') %}
              <li><a href="/prisoner/{{ prisonerDetails.prisonerNumber }}/contacts/create/start" class="govuk-body govuk-link--no-visited-state" data-qa="no-results-link-a-contact">link another contact</a> if you cannot find the correct person in the prisoner’s contact list</li>
            {% endif %}
          </ul>
        {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
