{% extends "../../../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "../../../partials/miniProfile/macro.njk" import miniProfile %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - List contacts" %}
{% set title = "List contacts" %}
{% set mainClasses = "app-container govuk-body" %}

{% set searchLink = "/contacts/manage/prisoner-search/" + journey.id %}
{% set backLinkHref = "/contacts/manage/prisoner-search-results/" + journey.id %}

{% block content %}

<div class="govuk-grid-row govuk-!-static-margin-bottom-5">
    <div class="govuk-grid-column-full">
        {{ govukBreadcrumbs({
        items: [
            { text: "Digital Prison Services", href: DPS_HOME_PAGE_URL },
            { text: "Contacts", href: "/" },
            { text: "Search", href: searchLink },
            { text: "Results", href: backLinkHref }
        ]
        }) }}
    </div>
</div>

{# Test the mini profile macro #}
{{ miniProfile(prisonerDetails, '/prisoner-image/' + prisonerDetails.prisonerNumber, digitalPrisonServicesUrl + '/prisoner/' + prisonerDetails.prisonerNumber) }}

{% macro createTable(contactsList) %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Date of birth</th>
            <th scope="col" class="govuk-table__header">Address</th>
            <th scope="col" class="govuk-table__header">Relationship to prisoner</th>
            <th scope="col" class="govuk-table__header">Emergency contact</th>
            <th scope="col" class="govuk-table__header">Next of kin</th>
            <th scope="col" class="govuk-table__header">Approved</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for item in contactsList %}
        {% 
            set address = { 
                flat: item.flat,
                premise: item.property,
                street: item.street,
                area: item.area,
                city: item.cityCode,
                county: item.countyCode,
                postalCode: item.postCode,
                country: item.countryCode
            }
        %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='#'>{{ item.surname }}, {{ item.forename }}</a></td>
            <td class="govuk-table__cell"  data-qa="contact-{{ item.prisonerContactId }}-dob">
                {% if item.dateOfBirth %}
                    {{ item.dateOfBirth | formatDate }}<br />
                    ({{ item.dateOfBirth | getFormatDistanceToNow }} old)
                {% else %}
                    Not provided
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {{ govukSummaryList({
                    classes: 'govuk-!-margin-bottom-0',
                    rows: [
                        {
                            key: { text: '' },
                            value: { html: address | addressToLines},
                            classes: 'govuk-summary-list__row--no-border'
                        }
                    ]
                }) }}
            </td>
            <td class="govuk-table__cell">{{ item.relationshipDescription }}</td>
            <td class="govuk-table__cell">{{ 'Yes' if item.emergencyContact else 'No' }}</td>
            <td class="govuk-table__cell">{{ 'Yes' if item.nextOfKin else 'No'}}</td>
            <td class="govuk-table__cell">{{ 'Yes' if item.approvedVisitor else 'No'}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro prisonerDoesNotHaveAnyContactsMessage(journey, contactListType) %}
    <p>{{ journey.prisoner.firstName | convertToTitleCase }} {{ journey.prisoner.lastName | convertToTitleCase }} does not have any {{ contactListType }} contacts</p>
{% endmacro %}

<span class="govuk-caption-l">Manage Contacts</span>
<h1 class="govuk-heading-l">Contacts for {{ journey.prisoner.lastName | convertToTitleCase }}, {{ journey.prisoner.firstName | convertToTitleCase }}</h1>

    {{ govukButton({
        text: "Add prisoner contact",
        href: "/"
    }) }}

    {{ govukButton({
        text: "Create new prisoner contact",
        href: "/prisoner/" + journey.prisoner.prisonerNumber + "/contacts/create/start?returnJourneyType=MANAGE_PRISONER_CONTACTS&returnJourneyId=" + journey.id,
        attributes: {"data-qa": "create-new-contact-button"}
    }) }}

<div class="govuk-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#active-contacts">
            Active contacts
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#inactive-contacts">
            Inactive contacts
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="active-contacts">
        {% if activeContacts.length > 0 %}
            {{ createTable(activeContacts) }}
        {% else %}
        <div class="govuk-!-static-margin-top-4">{{ prisonerDoesNotHaveAnyContactsMessage(journey, 'active') }}</div>
        {% endif %}
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="inactive-contacts">
        {% if inactiveContacts.length > 0 %}
            {{ createTable(inactiveContacts) }}
        {% else %}
            <div class="govuk-!-static-margin-top-4">{{ prisonerDoesNotHaveAnyContactsMessage(journey, 'inactive') }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
