{% extends "../partials/layout.njk" %}
{% from "components/card.njk" import card %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " - Home" %}
{% set title = "Contacts" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Digital Prison Services",
      href: DPS_HOME_PAGE_URL
    }
  ]
}) }}

<h1 class="govuk-heading-l">{{ title }}</h1>
<div class="card-group govuk-grid-row">
  <div class="govuk-grid-column-one-third card-group__item">
      {{ card({
          "href": "/direct/contacts/search/start",
          "clickable": "true",
          "heading": "Search for a contact",
          "description": "View a contact's details.",
          "data-qa": "manage-contacts-card"
      }) }}
  </div>

  <div class="govuk-grid-column-one-third card-group__item">
      {{ card({
          "href": "/how-to-manage-a-prisoners-contacts",
          "clickable": "true",
          "heading": "How to manage a prisoner's contacts",
          "description": "Information on how to manage a prisoner's contacts.",
          "data-qa": "manage-restrictions-card"
      }) }}
  </div>
</div>

{% endblock %}
{% block pageScripts %}
    <script src="/js/card.js"></script>
{% endblock %}
